flow_definitions/flow_definition.json
{
  "flowContents": {
    "identifier": "9389be6c-b23e-333e-955e-5e35c67b686d",
    "instanceIdentifier": "30b797f6-019a-1000-8899-2dd96bf5e85c",
    "name": "flow_definition",
    "comments": "",
    "position": { "x": -153.5, "y": -236.0 },
    "processGroups": [
      {
        "identifier": "e981572e-329c-3558-a62b-1cad144daf38",
        "instanceIdentifier": "9c33ae3e-3691-321a-f05b-4cb4087db3e1",
        "name": "consumer_pull_etl",
        "comments": "",
        "position": { "x": 208.0, "y": 280.0 },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "35627669-019a-1000-92ac-a7ea2d4dd364",
            "instanceIdentifier": "8ed72ea0-5834-358b-7cd7-ac55496de9f0",
            "name": "JoltTransformJSON",
            "comments": "",
            "position": { "x": 16.0, "y": 1200.0 },
            "type": "org.apache.nifi.processors.jolt.JoltTransformJSON",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-jolt-nar",
              "version": "2.6.0"
            },
            "properties": {
              "JSON Source": "FLOW_FILE",
              "Jolt Transform": "jolt-transform-shift",
              "JSON Source Attribute": null,
              "Max String Length": "20 MB",
              "Transform Cache Size": "1",
              "Custom Transformation Class Name": null,
              "Custom Module Directory": null,
              "Pretty Print": "false",
              "Jolt Specification": "{\n      \"ID\": \"id\",\n      \"CreatedAt\": \"created_at\",\n      \"UpdatedAt\": \"updated_at\",\n      \"DeletedAt\": \"deleted_at\",\n      \"hotel_id\": \"hotel_id\",\n      \"year\": \"year\",\n      \"rooms\": \"rooms\",\n      \"stays\": \"stays\",\n      \"gasKwh\": \"gas_kwh\",\n      \"waterM3\": \"water_m3\",\n      \"occupied\": \"occupied\",\n      \"deviation\": \"deviation\",\n      \"energyKwh\": \"energy_kwh\",\n      \"ratingCo2\": \"rating_co2\",\n      \"totalArea\": \"total_area\",\n      \"staysPerRN\": \"stays_per_rn\",\n      \"electricity\": \"electricity\",\n      \"ratingCo2RN\": \"rating_co2_rn\",\n      \"ratingWater\": \"rating_water\",\n      \"deviationCo2\": \"deviation_co2\",\n      \"ratingEnergy\": \"rating_energy\",\n      \"ratingCo2S1RN\": \"rating_co2_s1_rn\",\n      \"ratingCo2S2RN\": \"rating_co2_s2_rn\",\n      \"ratingCo2Stay\": \"rating_co2_stay\",\n      \"ratingWaterRN\": \"rating_water_rn\",\n      \"deviationCo2RN\": \"deviation_co2_rn\",\n      \"deviationWaste\": \"deviation_waste\",\n      \"deviationWater\": \"deviation_water\",\n      \"electricityKwh\": \"electricity_kwh\",\n      \"ratingEnergyRN\": \"rating_energy_rn\",\n      \"totalEmissions\": \"total_emissions\",\n      \"co2Compensation\": \"co2_compensation\",\n      \"deviationEnergy\": \"deviation_energy\",\n      \"ratingCo2S1Stay\": \"rating_co2_s1_stay\",\n      \"ratingCo2S2Stay\": \"rating_co2_s2_stay\",\n      \"ratingWaterArea\": \"rating_water_area\",\n      \"ratingWaterRoom\": \"rating_water_room\",\n      \"ratingWaterStay\": \"rating_water_stay\",\n      \"scope1Emissions\": \"scope1_emissions\",\n      \"scope2Emissions\": \"scope2_emissions\",\n      \"deviationCo2S1RN\": \"deviation_co2_s1_rn\",\n      \"deviationCo2S2RN\": \"deviation_co2_s2_rn\",\n      \"deviationCo2S3RN\": \"deviation_co2_s3_rn\",\n      \"deviationCo2Stay\": \"deviation_co2_stay\",\n      \"deviationWasteRN\": \"deviation_waste_rn\",\n      \"deviationWaterRN\": \"deviation_water_rn\",\n      \"directStationary\": \"direct_stationary\",\n      \"ratingEnergyArea\": \"rating_energy_area\",\n      \"ratingEnergyRoom\": \"rating_energy_room\",\n      \"ratingEnergyStay\": \"rating_energy_stay\",\n      \"recommendedStars\": \"recommended_stars\",\n      \"deviationEnergyRN\": \"deviation_energy_rn\",\n      \"deviationCo2S1Stay\": \"deviation_co2_s1_stay\",\n      \"deviationCo2S2Stay\": \"deviation_co2_s2_stay\",\n      \"deviationCo2S3Stay\": \"deviation_co2_s3_stay\",\n      \"deviationWasteStay\": \"deviation_waste_stay\",\n      \"deviationWaterStay\": \"deviation_water_stay\",\n      \"recommendedStarsV1\": \"recommended_stars_v1\",\n      \"recommendedStarsV2\": \"recommended_stars_v2\",\n      \"scope2Compensation\": \"scope2_compensation\",\n      \"deviationEnergyStay\": \"deviation_energy_stay\",\n      \"energyKwhWithCo2Compensation\": \"energy_kwh_with_co2_compensation\",\n      \"ratingEnergyWithCo2Compensation\": \"rating_energy_with_co2_compensation\",\n      \"deviationEnergyWithCo2Compensation\": \"deviation_energy_with_co2_compensation\"\n    }"
            },
            "propertyDescriptors": {
              "JSON Source": {
                "name": "JSON Source",
                "displayName": "JSON Source",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Transform": {
                "name": "Jolt Transform",
                "displayName": "Jolt Transform",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JSON Source Attribute": {
                "name": "JSON Source Attribute",
                "displayName": "JSON Source Attribute",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Transform Cache Size": {
                "name": "Transform Cache Size",
                "displayName": "Transform Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Transformation Class Name": {
                "name": "Custom Transformation Class Name",
                "displayName": "Custom Transformation Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Module Directory": {
                "name": "Custom Module Directory",
                "displayName": "Custom Module Directory",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["FILE", "DIRECTORY"]
                }
              },
              "Pretty Print": {
                "name": "Pretty Print",
                "displayName": "Pretty Print",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Specification": {
                "name": "Jolt Specification",
                "displayName": "Jolt Specification",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "SINGLE",
                  "resourceTypes": ["FILE", "TEXT"]
                }
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "70ac38fd-0825-3b59-97c9-a2ae06d2feb9",
            "instanceIdentifier": "35476b74-019a-1000-9db2-07f57553b3a6",
            "name": "SplitJson",
            "comments": "",
            "position": { "x": 16.0, "y": 296.0 },
            "type": "org.apache.nifi.processors.standard.SplitJson",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Max String Length": "20 MB",
              "Null Value Representation": "empty string",
              "JsonPath Expression": "$[*]"
            },
            "propertyDescriptors": {
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Null Value Representation": {
                "name": "Null Value Representation",
                "displayName": "Null Value Representation",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JsonPath Expression": {
                "name": "JsonPath Expression",
                "displayName": "JsonPath Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "307e7b9e-019a-1000-c96a-e19bf9eb5279",
            "instanceIdentifier": "8e1971c9-2863-3f68-9f46-b4d5a4c01453",
            "name": "LogMessage",
            "comments": "",
            "position": { "x": -702.0801544189453, "y": 20.93714141845703 },
            "type": "org.apache.nifi.processors.standard.LogMessage",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "log-message": "${restlistener.request.uri}",
              "log-level": "info",
              "log-prefix": null
            },
            "propertyDescriptors": {
              "log-message": {
                "name": "log-message",
                "displayName": "Log message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-level": {
                "name": "log-level",
                "displayName": "Log Level",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-prefix": {
                "name": "log-prefix",
                "displayName": "Log prefix",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3562766a-019a-1000-6643-d038c54adf42",
            "instanceIdentifier": "b6e555d9-e83b-3dbb-5785-2e7491a9dc5e",
            "name": "PutDatabaseRecord",
            "comments": "",
            "position": { "x": 16.0, "y": 1400.0 },
            "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "put-db-record-allow-multiple-statements": "false",
              "put-db-record-schema-name": "public",
              "put-db-record-field-containing-sql": null,
              "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
              "Delete Keys": null,
              "put-db-record-catalog-name": "postgres",
              "put-db-record-statement-type": "INSERT",
              "put-db-record-update-keys": null,
              "put-db-record-quoted-identifiers": "false",
              "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
              "put-db-record-max-batch-size": "1000",
              "Database Dialect Service": null,
              "Data Record Path": null,
              "database-session-autocommit": "false",
              "table-schema-cache-size": "100",
              "put-db-record-quoted-table-identifiers": "false",
              "Statement Type Record Path": null,
              "Column Name Translation Pattern": null,
              "put-db-record-translate-field-names": "true",
              "put-db-record-dcbp-service": "9ca41fbf-a40f-3aad-8fff-fee0a280b7b2",
              "put-db-record-query-timeout": "0 seconds",
              "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
              "rollback-on-failure": "false",
              "put-db-record-binary-format": "UTF-8",
              "db-type": "PostgreSQL",
              "put-db-record-table-name": "hotel_measure",
              "put-db-record-record-reader": "a2362c08-2da7-3dfe-b1df-1ca8caaea363"
            },
            "propertyDescriptors": {
              "put-db-record-allow-multiple-statements": {
                "name": "put-db-record-allow-multiple-statements",
                "displayName": "Allow Multiple SQL Statements",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-schema-name": {
                "name": "put-db-record-schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-field-containing-sql": {
                "name": "put-db-record-field-containing-sql",
                "displayName": "Field Containing SQL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-column-behavior": {
                "name": "put-db-record-unmatched-column-behavior",
                "displayName": "Unmatched Column Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Delete Keys": {
                "name": "Delete Keys",
                "displayName": "Delete Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-catalog-name": {
                "name": "put-db-record-catalog-name",
                "displayName": "Database Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-statement-type": {
                "name": "put-db-record-statement-type",
                "displayName": "Statement Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-update-keys": {
                "name": "put-db-record-update-keys",
                "displayName": "Update Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-identifiers": {
                "name": "put-db-record-quoted-identifiers",
                "displayName": "Quote Column Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-field-behavior": {
                "name": "put-db-record-unmatched-field-behavior",
                "displayName": "Unmatched Field Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-max-batch-size": {
                "name": "put-db-record-max-batch-size",
                "displayName": "Maximum Batch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Dialect Service": {
                "name": "Database Dialect Service",
                "displayName": "Database Dialect Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Data Record Path": {
                "name": "Data Record Path",
                "displayName": "Data Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-session-autocommit": {
                "name": "database-session-autocommit",
                "displayName": "Database Session AutoCommit",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "table-schema-cache-size": {
                "name": "table-schema-cache-size",
                "displayName": "Table Schema Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-table-identifiers": {
                "name": "put-db-record-quoted-table-identifiers",
                "displayName": "Quote Table Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Statement Type Record Path": {
                "name": "Statement Type Record Path",
                "displayName": "Statement Type Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Pattern": {
                "name": "Column Name Translation Pattern",
                "displayName": "Column Name Translation Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-translate-field-names": {
                "name": "put-db-record-translate-field-names",
                "displayName": "Translate Field Names",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-dcbp-service": {
                "name": "put-db-record-dcbp-service",
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-query-timeout": {
                "name": "put-db-record-query-timeout",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Strategy": {
                "name": "Column Name Translation Strategy",
                "displayName": "Column Name Translation Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-binary-format": {
                "name": "put-db-record-binary-format",
                "displayName": "Binary String Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "db-type": {
                "name": "db-type",
                "displayName": "Database Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-table-name": {
                "name": "put-db-record-table-name",
                "displayName": "Table Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-record-reader": {
                "name": "put-db-record-record-reader",
                "displayName": "Record Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success", "failure", "retry"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
            "instanceIdentifier": "34cc8f67-019a-1000-99b7-61d1f233ef90",
            "name": "InvokeHTTP",
            "comments": "",
            "position": { "x": 13.199970245361328, "y": 16.0 },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Request Content-Encoding": "DISABLED",
              "proxy-configuration-service": null,
              "Request Multipart Form-Data Filename Enabled": "true",
              "Request Chunked Transfer-Encoding Enabled": "false",
              "Response Header Request Attributes Prefix": null,
              "HTTP/2 Disabled": "False",
              "Connection Timeout": "5 secs",
              "Response Cookie Strategy": "DISABLED",
              "Socket Read Timeout": "15 secs",
              "Socket Idle Connections": "5",
              "Request Body Enabled": "true",
              "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
              "HTTP URL": "http://host.docker.internal:8081/hotels/",
              "Request OAuth2 Access Token Provider": null,
              "Socket Idle Timeout": "5 mins",
              "Response Redirects Enabled": "True",
              "Socket Write Timeout": "15 secs",
              "Request Header Attributes Pattern": null,
              "Response FlowFile Naming Strategy": "RANDOM",
              "Response Cache Enabled": "false",
              "Request Date Header Enabled": "True",
              "Request Failure Penalization Enabled": "false",
              "Response Body Attribute Size": "256",
              "SSL Context Service": null,
              "Response Generation Required": "false",
              "Request User-Agent": null,
              "Response Header Request Attributes Enabled": "false",
              "HTTP Method": "GET",
              "Request Username": null,
              "Request Content-Type": "${mime.type}",
              "Response Body Attribute Name": null,
              "Request Digest Authentication Enabled": "false",
              "Request Multipart Form-Data Name": null,
              "Response Cache Size": "10MB",
              "Response Body Ignored": "false"
            },
            "propertyDescriptors": {
              "Request Content-Encoding": {
                "name": "Request Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Request Multipart Form-Data Filename Enabled": {
                "name": "Request Multipart Form-Data Filename Enabled",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Chunked Transfer-Encoding Enabled": {
                "name": "Request Chunked Transfer-Encoding Enabled",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Header Request Attributes Prefix": {
                "name": "Response Header Request Attributes Prefix",
                "displayName": "Response Header Request Attributes Prefix",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP/2 Disabled": {
                "name": "HTTP/2 Disabled",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Connection Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Cookie Strategy": {
                "name": "Response Cookie Strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Password": {
                "name": "Request Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true,
                "dynamic": false
              },
              "Socket Read Timeout": {
                "name": "Socket Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Socket Idle Connections": {
                "name": "Socket Idle Connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Body Enabled": {
                "name": "Request Body Enabled",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "OAuth2 Access Token Refresh Strategy": {
                "name": "OAuth2 Access Token Refresh Strategy",
                "displayName": "OAuth2 Access Token Refresh Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP URL": {
                "name": "HTTP URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request OAuth2 Access Token Provider": {
                "name": "Request OAuth2 Access Token Provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Socket Idle Timeout": {
                "name": "Socket Idle Timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Redirects Enabled": {
                "name": "Response Redirects Enabled",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Socket Write Timeout": {
                "name": "Socket Write Timeout",
                "displayName": "Socket Write Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Header Attributes Pattern": {
                "name": "Request Header Attributes Pattern",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response FlowFile Naming Strategy": {
                "name": "Response FlowFile Naming Strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Cache Enabled": {
                "name": "Response Cache Enabled",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Date Header Enabled": {
                "name": "Request Date Header Enabled",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Failure Penalization Enabled": {
                "name": "Request Failure Penalization Enabled",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Body Attribute Size": {
                "name": "Response Body Attribute Size",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Response Generation Required": {
                "name": "Response Generation Required",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request User-Agent": {
                "name": "Request User-Agent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Header Request Attributes Enabled": {
                "name": "Response Header Request Attributes Enabled",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Username": {
                "name": "Request Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Content-Type": {
                "name": "Request Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Body Attribute Name": {
                "name": "Response Body Attribute Name",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Digest Authentication Enabled": {
                "name": "Request Digest Authentication Enabled",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Multipart Form-Data Name": {
                "name": "Request Multipart Form-Data Name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Cache Size": {
                "name": "Response Cache Size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Body Ignored": {
                "name": "Response Body Ignored",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "5e7257dd-f4f8-3d2b-9347-e0030d1516e1",
            "instanceIdentifier": "354a3d12-019a-1000-2e28-508e83c9b64c",
            "name": "SplitJson",
            "comments": "",
            "position": { "x": 24.0, "y": 992.0 },
            "type": "org.apache.nifi.processors.standard.SplitJson",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Max String Length": "20 MB",
              "Null Value Representation": "empty string",
              "JsonPath Expression": "$.measures"
            },
            "propertyDescriptors": {
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Null Value Representation": {
                "name": "Null Value Representation",
                "displayName": "Null Value Representation",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JsonPath Expression": {
                "name": "JsonPath Expression",
                "displayName": "JsonPath Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3561a604-019a-1000-51e5-b3895fb4c7fc",
            "instanceIdentifier": "d2c0c0d4-8c35-33b4-ce52-5b7edb61c430",
            "name": "PutDatabaseRecord",
            "comments": "",
            "position": { "x": 16.0, "y": 784.0 },
            "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "put-db-record-allow-multiple-statements": "false",
              "put-db-record-schema-name": "public",
              "put-db-record-field-containing-sql": null,
              "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
              "Delete Keys": null,
              "put-db-record-catalog-name": "postgres",
              "put-db-record-statement-type": "INSERT",
              "put-db-record-update-keys": null,
              "put-db-record-quoted-identifiers": "false",
              "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
              "put-db-record-max-batch-size": "1000",
              "Database Dialect Service": null,
              "Data Record Path": null,
              "database-session-autocommit": "false",
              "table-schema-cache-size": "100",
              "put-db-record-quoted-table-identifiers": "false",
              "Statement Type Record Path": null,
              "Column Name Translation Pattern": null,
              "put-db-record-translate-field-names": "true",
              "put-db-record-dcbp-service": "9ca41fbf-a40f-3aad-8fff-fee0a280b7b2",
              "put-db-record-query-timeout": "0 seconds",
              "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
              "rollback-on-failure": "false",
              "put-db-record-binary-format": "UTF-8",
              "db-type": "PostgreSQL",
              "put-db-record-table-name": "hotel",
              "put-db-record-record-reader": "ae8bc523-354f-391c-98d0-70c8889b72c1"
            },
            "propertyDescriptors": {
              "put-db-record-allow-multiple-statements": {
                "name": "put-db-record-allow-multiple-statements",
                "displayName": "Allow Multiple SQL Statements",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-schema-name": {
                "name": "put-db-record-schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-field-containing-sql": {
                "name": "put-db-record-field-containing-sql",
                "displayName": "Field Containing SQL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-column-behavior": {
                "name": "put-db-record-unmatched-column-behavior",
                "displayName": "Unmatched Column Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Delete Keys": {
                "name": "Delete Keys",
                "displayName": "Delete Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-catalog-name": {
                "name": "put-db-record-catalog-name",
                "displayName": "Database Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-statement-type": {
                "name": "put-db-record-statement-type",
                "displayName": "Statement Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-update-keys": {
                "name": "put-db-record-update-keys",
                "displayName": "Update Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-identifiers": {
                "name": "put-db-record-quoted-identifiers",
                "displayName": "Quote Column Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-field-behavior": {
                "name": "put-db-record-unmatched-field-behavior",
                "displayName": "Unmatched Field Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-max-batch-size": {
                "name": "put-db-record-max-batch-size",
                "displayName": "Maximum Batch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Dialect Service": {
                "name": "Database Dialect Service",
                "displayName": "Database Dialect Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Data Record Path": {
                "name": "Data Record Path",
                "displayName": "Data Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-session-autocommit": {
                "name": "database-session-autocommit",
                "displayName": "Database Session AutoCommit",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "table-schema-cache-size": {
                "name": "table-schema-cache-size",
                "displayName": "Table Schema Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-table-identifiers": {
                "name": "put-db-record-quoted-table-identifiers",
                "displayName": "Quote Table Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Statement Type Record Path": {
                "name": "Statement Type Record Path",
                "displayName": "Statement Type Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Pattern": {
                "name": "Column Name Translation Pattern",
                "displayName": "Column Name Translation Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-translate-field-names": {
                "name": "put-db-record-translate-field-names",
                "displayName": "Translate Field Names",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-dcbp-service": {
                "name": "put-db-record-dcbp-service",
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-query-timeout": {
                "name": "put-db-record-query-timeout",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Strategy": {
                "name": "Column Name Translation Strategy",
                "displayName": "Column Name Translation Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-binary-format": {
                "name": "put-db-record-binary-format",
                "displayName": "Binary String Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "db-type": {
                "name": "db-type",
                "displayName": "Database Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-table-name": {
                "name": "put-db-record-table-name",
                "displayName": "Table Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-record-reader": {
                "name": "put-db-record-record-reader",
                "displayName": "Record Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure", "retry"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3561a603-019a-1000-b4ea-cb6ce3b6885e",
            "instanceIdentifier": "e9fd3470-42e7-3650-89cc-d3954e16a5c8",
            "name": "JoltTransformJSON",
            "comments": "",
            "position": { "x": 16.0, "y": 528.0 },
            "type": "org.apache.nifi.processors.jolt.JoltTransformJSON",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-jolt-nar",
              "version": "2.6.0"
            },
            "properties": {
              "JSON Source": "FLOW_FILE",
              "Jolt Transform": "jolt-transform-shift",
              "JSON Source Attribute": null,
              "Max String Length": "20 MB",
              "Transform Cache Size": "1",
              "Custom Transformation Class Name": null,
              "Custom Module Directory": null,
              "Pretty Print": "false",
              "Jolt Specification": "{\n      \"name\": \"&\",\n      \"address\": \"&\",\n      \"city\": \"&\",\n\"measures\": \"&\"\n    }"
            },
            "propertyDescriptors": {
              "JSON Source": {
                "name": "JSON Source",
                "displayName": "JSON Source",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Transform": {
                "name": "Jolt Transform",
                "displayName": "Jolt Transform",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JSON Source Attribute": {
                "name": "JSON Source Attribute",
                "displayName": "JSON Source Attribute",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Transform Cache Size": {
                "name": "Transform Cache Size",
                "displayName": "Transform Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Transformation Class Name": {
                "name": "Custom Transformation Class Name",
                "displayName": "Custom Transformation Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Module Directory": {
                "name": "Custom Module Directory",
                "displayName": "Custom Module Directory",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["FILE", "DIRECTORY"]
                }
              },
              "Pretty Print": {
                "name": "Pretty Print",
                "displayName": "Pretty Print",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Specification": {
                "name": "Jolt Specification",
                "displayName": "Jolt Specification",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "SINGLE",
                  "resourceTypes": ["FILE", "TEXT"]
                }
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "inputPorts": [
          {
            "identifier": "690ad08f-759f-3de9-af7e-ef1552b6c982",
            "instanceIdentifier": "ce295c43-800f-396c-9216-d3a42cfd2ad4",
            "name": "input",
            "position": { "x": -280.0, "y": -152.0 },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "INPUT_PORT",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "outputPorts": [
          {
            "identifier": "6d129677-9413-3b30-9741-154ca063640b",
            "instanceIdentifier": "34c94049-019a-1000-144a-170093ebd70b",
            "name": "output",
            "position": { "x": 760.0, "y": 16.0 },
            "type": "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "OUTPUT_PORT",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "connections": [
          {
            "identifier": "c3085a4c-27ae-31e1-b508-454ba114cf68",
            "instanceIdentifier": "34cda298-019a-1000-f818-51aa6147ef66",
            "name": "",
            "source": {
              "id": "690ad08f-759f-3de9-af7e-ef1552b6c982",
              "type": "INPUT_PORT",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "input",
              "instanceIdentifier": "ce295c43-800f-396c-9216-d3a42cfd2ad4"
            },
            "destination": {
              "id": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "34cc8f67-019a-1000-99b7-61d1f233ef90"
            },
            "labelIndex": 0,
            "zIndex": 2,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3561a605-019a-1000-7042-02cebb5f8de3",
            "instanceIdentifier": "9bf27891-453c-32c3-e8fc-ede5ef91a08b",
            "name": "",
            "source": {
              "id": "3561a603-019a-1000-b4ea-cb6ce3b6885e",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "e9fd3470-42e7-3650-89cc-d3954e16a5c8"
            },
            "destination": {
              "id": "3561a604-019a-1000-51e5-b3895fb4c7fc",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "d2c0c0d4-8c35-33b4-ce52-5b7edb61c430"
            },
            "labelIndex": 0,
            "zIndex": 5,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "04cdb3f8-d359-3440-b9fe-d537b675854d",
            "instanceIdentifier": "b45e3e09-3d11-35f0-569d-8ac545bd0770",
            "name": "",
            "source": {
              "id": "690ad08f-759f-3de9-af7e-ef1552b6c982",
              "type": "INPUT_PORT",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "input",
              "instanceIdentifier": "ce295c43-800f-396c-9216-d3a42cfd2ad4"
            },
            "destination": {
              "id": "307e7b9e-019a-1000-c96a-e19bf9eb5279",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "LogMessage",
              "comments": "",
              "instanceIdentifier": "8e1971c9-2863-3f68-9f46-b4d5a4c01453"
            },
            "labelIndex": 0,
            "zIndex": 1,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "e065e8d7-5c91-3f7d-8234-f196747ac6c5",
            "instanceIdentifier": "354790bd-019a-1000-2051-b0663ec52fb5",
            "name": "",
            "source": {
              "id": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "34cc8f67-019a-1000-99b7-61d1f233ef90"
            },
            "destination": {
              "id": "70ac38fd-0825-3b59-97c9-a2ae06d2feb9",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "35476b74-019a-1000-9db2-07f57553b3a6"
            },
            "labelIndex": 0,
            "zIndex": 7,
            "selectedRelationships": ["Response"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "417f2b98-d393-3db8-8b20-2ce7ccc104a4",
            "instanceIdentifier": "35626e64-019a-1000-5d21-a64c866b7399",
            "name": "",
            "source": {
              "id": "70ac38fd-0825-3b59-97c9-a2ae06d2feb9",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "35476b74-019a-1000-9db2-07f57553b3a6"
            },
            "destination": {
              "id": "3561a603-019a-1000-b4ea-cb6ce3b6885e",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "e9fd3470-42e7-3650-89cc-d3954e16a5c8"
            },
            "labelIndex": 0,
            "zIndex": 13,
            "selectedRelationships": ["original", "split"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3562766b-019a-1000-c318-422e400c29c2",
            "instanceIdentifier": "39da7e71-6609-3dd6-4448-87d86d77291b",
            "name": "",
            "source": {
              "id": "35627669-019a-1000-92ac-a7ea2d4dd364",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "8ed72ea0-5834-358b-7cd7-ac55496de9f0"
            },
            "destination": {
              "id": "3562766a-019a-1000-6643-d038c54adf42",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "b6e555d9-e83b-3dbb-5785-2e7491a9dc5e"
            },
            "labelIndex": 0,
            "zIndex": 5,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "985300ae-7a9f-3031-8ffe-b8dcd4d65d20",
            "instanceIdentifier": "3562d526-019a-1000-3140-c288aa95d6c5",
            "name": "",
            "source": {
              "id": "5e7257dd-f4f8-3d2b-9347-e0030d1516e1",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "354a3d12-019a-1000-2e28-508e83c9b64c"
            },
            "destination": {
              "id": "35627669-019a-1000-92ac-a7ea2d4dd364",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "8ed72ea0-5834-358b-7cd7-ac55496de9f0"
            },
            "labelIndex": 0,
            "zIndex": 14,
            "selectedRelationships": ["original", "split"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "e12a8a06-d497-3f0d-ae73-e9d1b7f334db",
            "instanceIdentifier": "35a9decb-019a-1000-c2a5-32fa0aac2fbe",
            "name": "",
            "source": {
              "id": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "34cc8f67-019a-1000-99b7-61d1f233ef90"
            },
            "destination": {
              "id": "6d129677-9413-3b30-9741-154ca063640b",
              "type": "OUTPUT_PORT",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "output",
              "instanceIdentifier": "34c94049-019a-1000-144a-170093ebd70b"
            },
            "labelIndex": 0,
            "zIndex": 16,
            "selectedRelationships": ["Response"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "1f4df814-efb9-3d8f-bc18-64dfd70cc24f",
            "instanceIdentifier": "356c4663-019a-1000-1d8c-d34001e5caed",
            "name": "",
            "source": {
              "id": "3561a604-019a-1000-51e5-b3895fb4c7fc",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "d2c0c0d4-8c35-33b4-ce52-5b7edb61c430"
            },
            "destination": {
              "id": "5e7257dd-f4f8-3d2b-9347-e0030d1516e1",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "354a3d12-019a-1000-2e28-508e83c9b64c"
            },
            "labelIndex": 0,
            "zIndex": 15,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "ae8bc523-354f-391c-98d0-70c8889b72c1",
            "instanceIdentifier": "3595d781-019a-1000-f206-1270cd1fa5dc",
            "name": "JsonTreeReader",
            "comments": "",
            "type": "org.apache.nifi.json.JsonTreeReader",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": {
              "schema-reference-reader": null,
              "schema-branch": null,
              "Max String Length": "20 MB",
              "schema-application-strategy": "SELECTED_PART",
              "Timestamp Format": null,
              "schema-inference-cache": "64a385ee-d054-3dd7-85ef-d7a627e18f69",
              "Date Format": null,
              "schema-name": "${schema.name}",
              "starting-field-strategy": "ROOT_NODE",
              "schema-registry": null,
              "starting-field-name": null,
              "Time Format": null,
              "schema-access-strategy": "infer-schema",
              "schema-version": null,
              "schema-text": "${avro.schema}",
              "Allow Comments": "false"
            },
            "propertyDescriptors": {
              "schema-reference-reader": {
                "name": "schema-reference-reader",
                "displayName": "Schema Reference Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "schema-branch": {
                "name": "schema-branch",
                "displayName": "Schema Branch",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-application-strategy": {
                "name": "schema-application-strategy",
                "displayName": "Schema Application Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Timestamp Format": {
                "name": "Timestamp Format",
                "displayName": "Timestamp Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-inference-cache": {
                "name": "schema-inference-cache",
                "displayName": "Schema Inference Cache",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Date Format": {
                "name": "Date Format",
                "displayName": "Date Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-name": {
                "name": "schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-strategy": {
                "name": "starting-field-strategy",
                "displayName": "Starting Field Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-registry": {
                "name": "schema-registry",
                "displayName": "Schema Registry",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-name": {
                "name": "starting-field-name",
                "displayName": "Starting Field Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Time Format": {
                "name": "Time Format",
                "displayName": "Time Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-access-strategy": {
                "name": "schema-access-strategy",
                "displayName": "Schema Access Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-version": {
                "name": "schema-version",
                "displayName": "Schema Version",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-text": {
                "name": "schema-text",
                "displayName": "Schema Text",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Allow Comments": {
                "name": "Allow Comments",
                "displayName": "Allow Comments",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordReaderFactory",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "64a385ee-d054-3dd7-85ef-d7a627e18f69",
            "instanceIdentifier": "35673cdf-019a-1000-f38c-24d5235c61d9",
            "name": "VolatileSchemaCache",
            "comments": "",
            "type": "org.apache.nifi.schema.inference.VolatileSchemaCache",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": { "max-cache-size": "100" },
            "propertyDescriptors": {
              "max-cache-size": {
                "name": "max-cache-size",
                "displayName": "Maximum Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordSchemaCacheService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "a2362c08-2da7-3dfe-b1df-1ca8caaea363",
            "instanceIdentifier": "3566bcf3-019a-1000-b489-3696be6694e9",
            "name": "JsonTreeReaderForMeasures",
            "comments": "",
            "type": "org.apache.nifi.json.JsonTreeReader",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": {
              "schema-reference-reader": null,
              "schema-branch": null,
              "Max String Length": "20 MB",
              "schema-application-strategy": "SELECTED_PART",
              "Timestamp Format": "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
              "schema-inference-cache": "64a385ee-d054-3dd7-85ef-d7a627e18f69",
              "Date Format": "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
              "schema-name": "${schema.name}",
              "starting-field-strategy": "ROOT_NODE",
              "schema-registry": null,
              "starting-field-name": null,
              "Time Format": "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
              "schema-access-strategy": "schema-text-property",
              "schema-version": null,
              "schema-text": "{\n  \"type\": \"record\",\n  \"name\": \"hotel_measure\",\n  \"namespace\": \"postgres.public\",\n  \"fields\": [\n    { \"name\": \"id\", \"type\": [\"null\", \"long\"] },\n    {\n      \"name\": \"created_at\",\n      \"type\": [\"null\", { \"type\": \"long\", \"logicalType\": \"timestamp-millis\" }]\n    },\n    {\n      \"name\": \"updated_at\",\n      \"type\": [\"null\", { \"type\": \"long\", \"logicalType\": \"timestamp-millis\" }]\n    },\n    {\n      \"name\": \"deleted_at\",\n      \"type\": [\"null\", { \"type\": \"long\", \"logicalType\": \"timestamp-millis\" }]\n    },\n    { \"name\": \"hotel_id\", \"type\": [\"null\", \"long\"] },\n    { \"name\": \"year\", \"type\": [\"null\", \"int\"] },\n    { \"name\": \"rooms\", \"type\": [\"null\", \"int\"] },\n    { \"name\": \"stays\", \"type\": [\"null\", \"long\"] },\n    { \"name\": \"gas_kwh\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"water_m3\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"occupied\", \"type\": [\"null\", \"long\"] },\n    { \"name\": \"deviation\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"energy_kwh\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"total_area\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"stays_per_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"electricity\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s1_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_waste\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_water\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"electricity_kwh\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"total_emissions\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"co2_compensation\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_energy\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s1_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_area\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_room\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"scope1_emissions\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"scope2_emissions\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s1_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s3_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_waste_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_water_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"direct_stationary\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_area\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_room\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"recommended_stars\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_energy_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s1_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s3_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_waste_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_water_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"recommended_stars_v1\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"recommended_stars_v2\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"scope2_compensation\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_energy_stay\", \"type\": [\"null\", \"double\"] },\n    {\n      \"name\": \"energy_kwh_with_co2_compensation\",\n      \"type\": [\"null\", \"double\"]\n    },\n    {\n      \"name\": \"rating_energy_with_co2_compensation\",\n      \"type\": [\"null\", \"double\"]\n    },\n    {\n      \"name\": \"deviation_energy_with_co2_compensation\",\n      \"type\": [\"null\", \"double\"]\n    }\n  ]\n}",
              "Allow Comments": "false"
            },
            "propertyDescriptors": {
              "schema-reference-reader": {
                "name": "schema-reference-reader",
                "displayName": "Schema Reference Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "schema-branch": {
                "name": "schema-branch",
                "displayName": "Schema Branch",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-application-strategy": {
                "name": "schema-application-strategy",
                "displayName": "Schema Application Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Timestamp Format": {
                "name": "Timestamp Format",
                "displayName": "Timestamp Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-inference-cache": {
                "name": "schema-inference-cache",
                "displayName": "Schema Inference Cache",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Date Format": {
                "name": "Date Format",
                "displayName": "Date Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-name": {
                "name": "schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-strategy": {
                "name": "starting-field-strategy",
                "displayName": "Starting Field Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-registry": {
                "name": "schema-registry",
                "displayName": "Schema Registry",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-name": {
                "name": "starting-field-name",
                "displayName": "Starting Field Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Time Format": {
                "name": "Time Format",
                "displayName": "Time Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-access-strategy": {
                "name": "schema-access-strategy",
                "displayName": "Schema Access Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-version": {
                "name": "schema-version",
                "displayName": "Schema Version",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-text": {
                "name": "schema-text",
                "displayName": "Schema Text",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Allow Comments": {
                "name": "Allow Comments",
                "displayName": "Allow Comments",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordReaderFactory",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "9ca41fbf-a40f-3aad-8fff-fee0a280b7b2",
            "instanceIdentifier": "35643410-019a-1000-9bd6-41133d938ca4",
            "name": "DBCPConnectionPool",
            "comments": "",
            "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-dbcp-service-nar",
              "version": "2.6.0"
            },
            "properties": {
              "dbcp-min-idle-conns": "0",
              "Max Wait Time": "500 millis",
              "Database Driver Class Name": "org.postgresql.Driver",
              "dbcp-min-evictable-idle-time": "30 mins",
              "Max Total Connections": "8",
              "dbcp-max-conn-lifetime": "-1",
              "Validation-query": null,
              "Database Connection URL": "jdbc:postgresql://transactional-db:5432/postgres",
              "dbcp-time-between-eviction-runs": "-1",
              "Database User": "postgres",
              "kerberos-user-service": null,
              "dbcp-soft-min-evictable-idle-time": "-1",
              "database-driver-locations": "/opt/nifi/nifi-current/javall/postgresql-42.7.8.jar",
              "dbcp-max-idle-conns": "8"
            },
            "propertyDescriptors": {
              "dbcp-min-idle-conns": {
                "name": "dbcp-min-idle-conns",
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Wait Time": {
                "name": "Max Wait Time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Driver Class Name": {
                "name": "Database Driver Class Name",
                "displayName": "Database Driver Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-min-evictable-idle-time": {
                "name": "dbcp-min-evictable-idle-time",
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Total Connections": {
                "name": "Max Total Connections",
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-max-conn-lifetime": {
                "name": "dbcp-max-conn-lifetime",
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Validation-query": {
                "name": "Validation-query",
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Connection URL": {
                "name": "Database Connection URL",
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-time-between-eviction-runs": {
                "name": "dbcp-time-between-eviction-runs",
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database User": {
                "name": "Database User",
                "displayName": "Database User",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "kerberos-user-service": {
                "name": "kerberos-user-service",
                "displayName": "Kerberos User Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "name": "dbcp-soft-min-evictable-idle-time",
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-driver-locations": {
                "name": "database-driver-locations",
                "displayName": "Database Driver Location(s)",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["FILE", "DIRECTORY", "URL"]
                }
              },
              "dbcp-max-idle-conns": {
                "name": "dbcp-max-idle-conns",
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Password": {
                "name": "Password",
                "displayName": "Password",
                "identifiesControllerService": false,
                "sensitive": true,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.dbcp.DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
        "instanceIdentifier": "674e5bf8-8ef3-316d-e4ba-e5dbc79fdf5f",
        "name": "consumer_push_etl",
        "comments": "",
        "position": { "x": -344.0, "y": 280.0 },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "31cf23ef-e611-39a3-b772-108f77b05b37",
            "instanceIdentifier": "318c40a6-019a-1000-0d9b-046f3d4205ff",
            "name": "JoltTransformJSON",
            "comments": "",
            "position": { "x": -920.0, "y": -272.0 },
            "type": "org.apache.nifi.processors.jolt.JoltTransformJSON",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-jolt-nar",
              "version": "2.6.0"
            },
            "properties": {
              "JSON Source": "FLOW_FILE",
              "Jolt Transform": "jolt-transform-shift",
              "JSON Source Attribute": null,
              "Max String Length": "20 MB",
              "Transform Cache Size": "1",
              "Custom Transformation Class Name": null,
              "Custom Module Directory": null,
              "Pretty Print": "false",
              "Jolt Specification": "{\n      \"id\": \"metric_id\",\n      \"item_type\": \"item_type\",\n      \"last_value\": \"last_value\",\n      \"last_measured_at\": \"last_measured_at\"\n    }"
            },
            "propertyDescriptors": {
              "JSON Source": {
                "name": "JSON Source",
                "displayName": "JSON Source",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Transform": {
                "name": "Jolt Transform",
                "displayName": "Jolt Transform",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JSON Source Attribute": {
                "name": "JSON Source Attribute",
                "displayName": "JSON Source Attribute",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Transform Cache Size": {
                "name": "Transform Cache Size",
                "displayName": "Transform Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Transformation Class Name": {
                "name": "Custom Transformation Class Name",
                "displayName": "Custom Transformation Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Module Directory": {
                "name": "Custom Module Directory",
                "displayName": "Custom Module Directory",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["FILE", "DIRECTORY"]
                }
              },
              "Pretty Print": {
                "name": "Pretty Print",
                "displayName": "Pretty Print",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Specification": {
                "name": "Jolt Specification",
                "displayName": "Jolt Specification",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "SINGLE",
                  "resourceTypes": ["FILE", "TEXT"]
                }
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "170342b4-6c96-3ff3-b112-66ec67ff2859",
            "instanceIdentifier": "31401725-019a-1000-4d80-7ddaef1ba053",
            "name": "PutDatabaseRecord",
            "comments": "",
            "position": { "x": -624.0, "y": 8.0 },
            "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "put-db-record-allow-multiple-statements": "false",
              "put-db-record-schema-name": "public",
              "put-db-record-field-containing-sql": null,
              "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
              "Delete Keys": null,
              "put-db-record-catalog-name": "postgres",
              "put-db-record-statement-type": "INSERT",
              "put-db-record-update-keys": null,
              "put-db-record-quoted-identifiers": "false",
              "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
              "put-db-record-max-batch-size": "1000",
              "Database Dialect Service": null,
              "Data Record Path": null,
              "database-session-autocommit": "false",
              "table-schema-cache-size": "100",
              "put-db-record-quoted-table-identifiers": "false",
              "Statement Type Record Path": null,
              "Column Name Translation Pattern": null,
              "put-db-record-translate-field-names": "true",
              "put-db-record-dcbp-service": "72f3a9e9-4971-37dc-9b45-3f39b36a1555",
              "put-db-record-query-timeout": "0 seconds",
              "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
              "rollback-on-failure": "false",
              "put-db-record-binary-format": "UTF-8",
              "db-type": "PostgreSQL",
              "put-db-record-table-name": "metrics",
              "put-db-record-record-reader": "61a8f8c4-83fb-3233-b0e6-636d34f45953"
            },
            "propertyDescriptors": {
              "put-db-record-allow-multiple-statements": {
                "name": "put-db-record-allow-multiple-statements",
                "displayName": "Allow Multiple SQL Statements",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-schema-name": {
                "name": "put-db-record-schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-field-containing-sql": {
                "name": "put-db-record-field-containing-sql",
                "displayName": "Field Containing SQL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-column-behavior": {
                "name": "put-db-record-unmatched-column-behavior",
                "displayName": "Unmatched Column Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Delete Keys": {
                "name": "Delete Keys",
                "displayName": "Delete Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-catalog-name": {
                "name": "put-db-record-catalog-name",
                "displayName": "Database Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-statement-type": {
                "name": "put-db-record-statement-type",
                "displayName": "Statement Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-update-keys": {
                "name": "put-db-record-update-keys",
                "displayName": "Update Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-identifiers": {
                "name": "put-db-record-quoted-identifiers",
                "displayName": "Quote Column Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-field-behavior": {
                "name": "put-db-record-unmatched-field-behavior",
                "displayName": "Unmatched Field Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-max-batch-size": {
                "name": "put-db-record-max-batch-size",
                "displayName": "Maximum Batch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Dialect Service": {
                "name": "Database Dialect Service",
                "displayName": "Database Dialect Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Data Record Path": {
                "name": "Data Record Path",
                "displayName": "Data Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-session-autocommit": {
                "name": "database-session-autocommit",
                "displayName": "Database Session AutoCommit",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "table-schema-cache-size": {
                "name": "table-schema-cache-size",
                "displayName": "Table Schema Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-table-identifiers": {
                "name": "put-db-record-quoted-table-identifiers",
                "displayName": "Quote Table Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Statement Type Record Path": {
                "name": "Statement Type Record Path",
                "displayName": "Statement Type Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Pattern": {
                "name": "Column Name Translation Pattern",
                "displayName": "Column Name Translation Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-translate-field-names": {
                "name": "put-db-record-translate-field-names",
                "displayName": "Translate Field Names",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-dcbp-service": {
                "name": "put-db-record-dcbp-service",
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-query-timeout": {
                "name": "put-db-record-query-timeout",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Strategy": {
                "name": "Column Name Translation Strategy",
                "displayName": "Column Name Translation Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-binary-format": {
                "name": "put-db-record-binary-format",
                "displayName": "Binary String Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "db-type": {
                "name": "db-type",
                "displayName": "Database Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-table-name": {
                "name": "put-db-record-table-name",
                "displayName": "Table Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-record-reader": {
                "name": "put-db-record-record-reader",
                "displayName": "Record Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["retry"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c28866-019a-1000-3544-eb2977a35777",
            "instanceIdentifier": "b80b391a-acde-3aa4-6249-a242604d18a4",
            "name": "UpdateAttribute",
            "comments": "",
            "position": { "x": 64.0, "y": 0.0 },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "state": "400",
              "Stateful Variables Initial Value": null,
              "message": "{\"message\": \"DB err\"}"
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "state": {
                "name": "state",
                "displayName": "state",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "message": {
                "name": "message",
                "displayName": "message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c18d81-019a-1000-a24b-d9b44b4974fc",
            "instanceIdentifier": "83db1038-f55e-3b6c-055f-62e832985ad0",
            "name": "HandleHttpResponse",
            "comments": "",
            "position": { "x": 653.5443115234375, "y": -280.0 },
            "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
              "Attributes to add to the HTTP Response (Regex)": null,
              "HTTP Status Code": "${state}",
              "message": "${message}"
            },
            "propertyDescriptors": {
              "HTTP Context Map": {
                "name": "HTTP Context Map",
                "displayName": "HTTP Context Map",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Attributes to add to the HTTP Response (Regex)": {
                "name": "Attributes to add to the HTTP Response (Regex)",
                "displayName": "Attributes to add to the HTTP Response (Regex)",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP Status Code": {
                "name": "HTTP Status Code",
                "displayName": "HTTP Status Code",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "message": {
                "name": "message",
                "displayName": "message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success", "failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c18d80-019a-1000-ed6b-f3daaf278e9b",
            "instanceIdentifier": "c4adc509-0e84-31fa-a0bd-7d63c877455e",
            "name": "UpdateAttribute",
            "comments": "",
            "position": { "x": -125.79242706298828, "y": -268.1793518066406 },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "state": "400",
              "Stateful Variables Initial Value": null,
              "message": "{\"message\": \"Not processable\"}"
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "state": {
                "name": "state",
                "displayName": "state",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "message": {
                "name": "message",
                "displayName": "message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "0cabb714-380a-3699-9d58-6ab3e7dccd42",
            "instanceIdentifier": "6a22b8af-e6f2-37fc-f193-e5abf249d1e3",
            "name": "LogMessage",
            "comments": "",
            "position": { "x": -1496.0, "y": -240.0 },
            "type": "org.apache.nifi.processors.standard.LogMessage",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "log-message": "${restlistener.request.uri},${data}",
              "log-level": "info",
              "log-prefix": null
            },
            "propertyDescriptors": {
              "log-message": {
                "name": "log-message",
                "displayName": "Log message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-level": {
                "name": "log-level",
                "displayName": "Log Level",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-prefix": {
                "name": "log-prefix",
                "displayName": "Log prefix",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "inputPorts": [
          {
            "identifier": "9848bb16-f68d-3897-906e-3fb7446fcd68",
            "instanceIdentifier": "c1d4036f-4162-345b-0ded-859a217ba477",
            "name": "input",
            "position": { "x": -1104.0, "y": -440.0 },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "INPUT_PORT",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "outputPorts": [
          {
            "identifier": "d964e164-cd11-3a2f-946a-52ff1faa1cfe",
            "instanceIdentifier": "34c331a5-019a-1000-c244-dcbb8216f905",
            "name": "output",
            "position": { "x": -328.0, "y": 272.0 },
            "type": "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "OUTPUT_PORT",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "connections": [
          {
            "identifier": "38925582-2403-3382-b373-392f2f6c13a1",
            "instanceIdentifier": "34c2aad1-019a-1000-70df-f536557ae435",
            "name": "",
            "source": {
              "id": "170342b4-6c96-3ff3-b112-66ec67ff2859",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "31401725-019a-1000-4d80-7ddaef1ba053"
            },
            "destination": {
              "id": "34c28866-019a-1000-3544-eb2977a35777",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "b80b391a-acde-3aa4-6249-a242604d18a4"
            },
            "labelIndex": 0,
            "zIndex": 11,
            "selectedRelationships": ["failure"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "c3a1dfe7-3ac5-3bb9-ad4a-ac15ea0f7c9c",
            "instanceIdentifier": "318d9a48-019a-1000-a9fd-37db8ad5350c",
            "name": "",
            "source": {
              "id": "31cf23ef-e611-39a3-b772-108f77b05b37",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "318c40a6-019a-1000-0d9b-046f3d4205ff"
            },
            "destination": {
              "id": "170342b4-6c96-3ff3-b112-66ec67ff2859",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "31401725-019a-1000-4d80-7ddaef1ba053"
            },
            "labelIndex": 0,
            "zIndex": 5,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "e0f09de4-22ea-3c8a-9d07-a6b06e7f11f6",
            "instanceIdentifier": "34c1a676-019a-1000-9943-50f24087e1a0",
            "name": "",
            "source": {
              "id": "31cf23ef-e611-39a3-b772-108f77b05b37",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "318c40a6-019a-1000-0d9b-046f3d4205ff"
            },
            "destination": {
              "id": "34c18d80-019a-1000-ed6b-f3daaf278e9b",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "c4adc509-0e84-31fa-a0bd-7d63c877455e"
            },
            "labelIndex": 0,
            "zIndex": 10,
            "selectedRelationships": ["failure"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "ed82f530-b038-3c34-b85d-48d3ec76a26a",
            "instanceIdentifier": "34c34c54-019a-1000-a8e8-a579a071a890",
            "name": "",
            "source": {
              "id": "170342b4-6c96-3ff3-b112-66ec67ff2859",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "31401725-019a-1000-4d80-7ddaef1ba053"
            },
            "destination": {
              "id": "d964e164-cd11-3a2f-946a-52ff1faa1cfe",
              "type": "OUTPUT_PORT",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "output",
              "instanceIdentifier": "34c331a5-019a-1000-c244-dcbb8216f905"
            },
            "labelIndex": 0,
            "zIndex": 13,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "08e13973-7df7-3691-ac6b-eb801ba59e25",
            "instanceIdentifier": "34c30361-019a-1000-6dd3-4b349e0fd5b9",
            "name": "",
            "source": {
              "id": "34c28866-019a-1000-3544-eb2977a35777",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "b80b391a-acde-3aa4-6249-a242604d18a4"
            },
            "destination": {
              "id": "34c18d81-019a-1000-a24b-d9b44b4974fc",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "83db1038-f55e-3b6c-055f-62e832985ad0"
            },
            "labelIndex": 0,
            "zIndex": 12,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "7796777b-b651-3b77-aa92-ab6bd2762a5a",
            "instanceIdentifier": "318c5421-019a-1000-7edf-ab17536cd514",
            "name": "",
            "source": {
              "id": "9848bb16-f68d-3897-906e-3fb7446fcd68",
              "type": "INPUT_PORT",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "input",
              "instanceIdentifier": "c1d4036f-4162-345b-0ded-859a217ba477"
            },
            "destination": {
              "id": "31cf23ef-e611-39a3-b772-108f77b05b37",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "318c40a6-019a-1000-0d9b-046f3d4205ff"
            },
            "labelIndex": 0,
            "zIndex": 4,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c18d82-019a-1000-0b4f-11d968532c22",
            "instanceIdentifier": "d5a01b94-5374-34b2-0e6d-6be532fdce62",
            "name": "",
            "source": {
              "id": "34c18d80-019a-1000-ed6b-f3daaf278e9b",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "c4adc509-0e84-31fa-a0bd-7d63c877455e"
            },
            "destination": {
              "id": "34c18d81-019a-1000-a24b-d9b44b4974fc",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "83db1038-f55e-3b6c-055f-62e832985ad0"
            },
            "labelIndex": 0,
            "zIndex": 9,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "32ded990-ad3f-3a47-a8be-f608bf3e84e8",
            "instanceIdentifier": "7b66ae4c-66f3-3590-ba21-c486b884e824",
            "name": "",
            "source": {
              "id": "9848bb16-f68d-3897-906e-3fb7446fcd68",
              "type": "INPUT_PORT",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "input",
              "instanceIdentifier": "c1d4036f-4162-345b-0ded-859a217ba477"
            },
            "destination": {
              "id": "0cabb714-380a-3699-9d58-6ab3e7dccd42",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "LogMessage",
              "comments": "",
              "instanceIdentifier": "6a22b8af-e6f2-37fc-f193-e5abf249d1e3"
            },
            "labelIndex": 0,
            "zIndex": 1,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "72f3a9e9-4971-37dc-9b45-3f39b36a1555",
            "instanceIdentifier": "ecfcccf4-8d43-3825-5ef9-0b0a3b3b5a56",
            "name": "DBCPConnectionPool",
            "comments": "",
            "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-dbcp-service-nar",
              "version": "2.6.0"
            },
            "properties": {
              "dbcp-min-idle-conns": "0",
              "Max Wait Time": "500 millis",
              "Database Driver Class Name": "org.postgresql.Driver",
              "dbcp-min-evictable-idle-time": "30 mins",
              "Max Total Connections": "8",
              "dbcp-max-conn-lifetime": "-1",
              "Validation-query": null,
              "Database Connection URL": "jdbc:postgresql://transactional-db:5432/postgres",
              "dbcp-time-between-eviction-runs": "-1",
              "Database User": "postgres",
              "kerberos-user-service": null,
              "dbcp-soft-min-evictable-idle-time": "-1",
              "database-driver-locations": "/opt/nifi/nifi-current/javall/postgresql-42.7.8.jar",
              "dbcp-max-idle-conns": "8"
            },
            "propertyDescriptors": {
              "dbcp-min-idle-conns": {
                "name": "dbcp-min-idle-conns",
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Wait Time": {
                "name": "Max Wait Time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Driver Class Name": {
                "name": "Database Driver Class Name",
                "displayName": "Database Driver Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-min-evictable-idle-time": {
                "name": "dbcp-min-evictable-idle-time",
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Total Connections": {
                "name": "Max Total Connections",
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-max-conn-lifetime": {
                "name": "dbcp-max-conn-lifetime",
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Validation-query": {
                "name": "Validation-query",
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Connection URL": {
                "name": "Database Connection URL",
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-time-between-eviction-runs": {
                "name": "dbcp-time-between-eviction-runs",
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database User": {
                "name": "Database User",
                "displayName": "Database User",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "kerberos-user-service": {
                "name": "kerberos-user-service",
                "displayName": "Kerberos User Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "name": "dbcp-soft-min-evictable-idle-time",
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-driver-locations": {
                "name": "database-driver-locations",
                "displayName": "Database Driver Location(s)",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["FILE", "DIRECTORY", "URL"]
                }
              },
              "dbcp-max-idle-conns": {
                "name": "dbcp-max-idle-conns",
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Password": {
                "name": "Password",
                "displayName": "Password",
                "identifiesControllerService": false,
                "sensitive": true,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.dbcp.DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "43bcdfd0-8385-3466-89b6-8fa12454aaa0",
            "instanceIdentifier": "31826054-019a-1000-373c-9a698b373714",
            "name": "VolatileSchemaCache",
            "comments": "",
            "type": "org.apache.nifi.schema.inference.VolatileSchemaCache",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": { "max-cache-size": "100" },
            "propertyDescriptors": {
              "max-cache-size": {
                "name": "max-cache-size",
                "displayName": "Maximum Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordSchemaCacheService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "61a8f8c4-83fb-3233-b0e6-636d34f45953",
            "instanceIdentifier": "3145928f-019a-1000-4c24-f8c0247bf6c3",
            "name": "JsonTreeReader for SQL",
            "comments": "",
            "type": "org.apache.nifi.json.JsonTreeReader",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": {
              "schema-reference-reader": null,
              "schema-branch": null,
              "Max String Length": "20 MB",
              "schema-application-strategy": "SELECTED_PART",
              "Timestamp Format": "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "schema-inference-cache": "43bcdfd0-8385-3466-89b6-8fa12454aaa0",
              "Date Format": "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "schema-name": "${schema.name}",
              "starting-field-strategy": "ROOT_NODE",
              "schema-registry": null,
              "starting-field-name": null,
              "Time Format": "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "schema-access-strategy": "schema-text-property",
              "schema-version": null,
              "schema-text": "{\n  \"type\": \"record\",\n  \"name\": \"Metrics\",\n  \"namespace\": \"postgres.public\",\n  \"fields\": [\n    { \"name\": \"metric_id\",        \"type\": [\"null\", \"string\"] },\n    { \"name\": \"item_type\",        \"type\": [\"null\", \"string\"] },\n    { \"name\": \"last_value\",       \"type\": [\"null\", \"double\"] },\n    {\n      \"name\": \"last_measured_at\",\n      \"type\": [\n        \"null\",\n        {\n          \"type\": \"long\",\n          \"logicalType\": \"timestamp-millis\"\n        }\n      ]\n    }\n  ]\n}",
              "Allow Comments": "false"
            },
            "propertyDescriptors": {
              "schema-reference-reader": {
                "name": "schema-reference-reader",
                "displayName": "Schema Reference Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "schema-branch": {
                "name": "schema-branch",
                "displayName": "Schema Branch",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-application-strategy": {
                "name": "schema-application-strategy",
                "displayName": "Schema Application Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Timestamp Format": {
                "name": "Timestamp Format",
                "displayName": "Timestamp Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-inference-cache": {
                "name": "schema-inference-cache",
                "displayName": "Schema Inference Cache",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Date Format": {
                "name": "Date Format",
                "displayName": "Date Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-name": {
                "name": "schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-strategy": {
                "name": "starting-field-strategy",
                "displayName": "Starting Field Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-registry": {
                "name": "schema-registry",
                "displayName": "Schema Registry",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-name": {
                "name": "starting-field-name",
                "displayName": "Starting Field Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Time Format": {
                "name": "Time Format",
                "displayName": "Time Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-access-strategy": {
                "name": "schema-access-strategy",
                "displayName": "Schema Access Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-version": {
                "name": "schema-version",
                "displayName": "Schema Version",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-text": {
                "name": "schema-text",
                "displayName": "Schema Text",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Allow Comments": {
                "name": "Allow Comments",
                "displayName": "Allow Comments",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordReaderFactory",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      }
    ],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "8faa42cd-2edd-3b53-a53a-54210ad99860",
        "instanceIdentifier": "34b35692-019a-1000-e8c1-172047b7c888",
        "name": "UpdateAttribute",
        "comments": "",
        "position": { "x": 616.0, "y": -56.0 },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "state": "400",
          "Stateful Variables Initial Value": null,
          "message": "{\"message\": \"Path not found\"}"
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "state": {
            "name": "state",
            "displayName": "state",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "message": {
            "name": "message",
            "displayName": "message",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "34c3bf38-019a-1000-541c-b7b7e560f65d",
        "instanceIdentifier": "cdf5577b-3968-3a7f-0f66-99b9deef3ec0",
        "name": "UpdateAttribute",
        "comments": "",
        "position": { "x": -48.0, "y": 560.0 },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "state": "201",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "state": {
            "name": "state",
            "displayName": "state",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "34c3bf40-019a-1000-9fcf-36371b3062cc",
        "instanceIdentifier": "03bd234b-eecf-3505-7448-81fc2da33f10",
        "name": "HandleHttpResponse",
        "comments": "",
        "position": { "x": -48.0, "y": 824.0 },
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
          "Attributes to add to the HTTP Response (Regex)": "$.*",
          "HTTP Status Code": "${state}",
          "message": "${message}"
        },
        "propertyDescriptors": {
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "displayName": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to add to the HTTP Response (Regex)": {
            "name": "Attributes to add to the HTTP Response (Regex)",
            "displayName": "Attributes to add to the HTTP Response (Regex)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "displayName": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "message": {
            "name": "message",
            "displayName": "message",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "6576c1c2-9ef8-336c-8eef-9a1bac479104",
        "instanceIdentifier": "34bb7bf3-019a-1000-768d-2cd4c4f584bf",
        "name": "HandleHttpRequest",
        "comments": "",
        "position": { "x": -40.0, "y": -328.0 },
        "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "multipart-request-max-size": "1 MB",
          "parameters-to-attributes": null,
          "Allow POST": "true",
          "Hostname": null,
          "Default URL Character Set": "UTF-8",
          "Allow DELETE": "false",
          "Request Header Maximum Size": "8 KB",
          "Maximum Threads": "200",
          "HTTP Protocols": "HTTP_1_1",
          "Additional HTTP Methods": null,
          "container-queue-size": "50",
          "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
          "multipart-read-buffer-size": "512 KB",
          "SSL Context Service": null,
          "Allow OPTIONS": "false",
          "Allowed Paths": null,
          "Allow GET": "false",
          "Allow HEAD": "false",
          "Listening Port": "9090",
          "Client Authentication": "No Authentication",
          "Allow PUT": "false"
        },
        "propertyDescriptors": {
          "multipart-request-max-size": {
            "name": "multipart-request-max-size",
            "displayName": "Multipart Request Max Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "parameters-to-attributes": {
            "name": "parameters-to-attributes",
            "displayName": "Parameters to Attributes List",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow POST": {
            "name": "Allow POST",
            "displayName": "Allow POST",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Hostname": {
            "name": "Hostname",
            "displayName": "Hostname",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Default URL Character Set": {
            "name": "Default URL Character Set",
            "displayName": "Default URL Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow DELETE": {
            "name": "Allow DELETE",
            "displayName": "Allow DELETE",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Maximum Size": {
            "name": "Request Header Maximum Size",
            "displayName": "Request Header Maximum Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Threads": {
            "name": "Maximum Threads",
            "displayName": "Maximum Threads",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Protocols": {
            "name": "HTTP Protocols",
            "displayName": "HTTP Protocols",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Additional HTTP Methods": {
            "name": "Additional HTTP Methods",
            "displayName": "Additional HTTP Methods",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "container-queue-size": {
            "name": "container-queue-size",
            "displayName": "Container Queue Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "displayName": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "multipart-read-buffer-size": {
            "name": "multipart-read-buffer-size",
            "displayName": "Multipart Read Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Allow OPTIONS": {
            "name": "Allow OPTIONS",
            "displayName": "Allow OPTIONS",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allowed Paths": {
            "name": "Allowed Paths",
            "displayName": "Allowed Paths",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow GET": {
            "name": "Allow GET",
            "displayName": "Allow GET",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow HEAD": {
            "name": "Allow HEAD",
            "displayName": "Allow HEAD",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Listening Port": {
            "name": "Listening Port",
            "displayName": "Listening Port",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Client Authentication": {
            "name": "Client Authentication",
            "displayName": "Client Authentication",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow PUT": {
            "name": "Allow PUT",
            "displayName": "Allow PUT",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
        "instanceIdentifier": "4f192ec0-8fbc-39ee-67b6-eb9e3ebf4b20",
        "name": "RouteOnAttribute",
        "comments": "",
        "position": { "x": -40.0, "y": -56.0 },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "is_pull": "${http.request.uri:matches(\"/consumer-data/(pull)\")}",
          "Routing Strategy": "Route to Property name",
          "is_push": "${http.request.uri:matches(\"/consumer-data/(push)\")}"
        },
        "propertyDescriptors": {
          "is_pull": {
            "name": "is_pull",
            "displayName": "is_pull",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "is_push": {
            "name": "is_push",
            "displayName": "is_push",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "ea86065f-83b3-31fd-81bf-f15f9ea93bee",
        "instanceIdentifier": "34b5a90e-019a-1000-6d4c-18f4ed9b0f27",
        "name": "HandleHttpResponse",
        "comments": "",
        "position": { "x": 1296.0, "y": -64.0 },
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
          "Attributes to add to the HTTP Response (Regex)": null,
          "HTTP Status Code": "${state}",
          "message": "${message}"
        },
        "propertyDescriptors": {
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "displayName": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to add to the HTTP Response (Regex)": {
            "name": "Attributes to add to the HTTP Response (Regex)",
            "displayName": "Attributes to add to the HTTP Response (Regex)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "displayName": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "message": {
            "name": "message",
            "displayName": "message",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "f5e66dec-3568-328e-81bd-0e56bdd2b091",
        "instanceIdentifier": "34c3f35f-019a-1000-74d6-aa5aabb6f246",
        "name": "",
        "source": {
          "id": "34c3bf38-019a-1000-541c-b7b7e560f65d",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "cdf5577b-3968-3a7f-0f66-99b9deef3ec0"
        },
        "destination": {
          "id": "34c3bf40-019a-1000-9fcf-36371b3062cc",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "HandleHttpResponse",
          "comments": "",
          "instanceIdentifier": "03bd234b-eecf-3505-7448-81fc2da33f10"
        },
        "labelIndex": 0,
        "zIndex": 11,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "d1c3b4cb-1fd0-38da-8df7-5f6ea43ba1c1",
        "instanceIdentifier": "34b38034-019a-1000-4b00-e170b22ee3ae",
        "name": "",
        "source": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "4f192ec0-8fbc-39ee-67b6-eb9e3ebf4b20"
        },
        "destination": {
          "id": "8faa42cd-2edd-3b53-a53a-54210ad99860",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "34b35692-019a-1000-e8c1-172047b7c888"
        },
        "labelIndex": 0,
        "zIndex": 8,
        "selectedRelationships": ["unmatched"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "33e642cd-d303-34a8-8f3d-88ed775c7182",
        "instanceIdentifier": "34c9940f-019a-1000-ae45-8d9cbabf46fb",
        "name": "",
        "source": {
          "id": "6d129677-9413-3b30-9741-154ca063640b",
          "type": "OUTPUT_PORT",
          "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
          "name": "output",
          "instanceIdentifier": "34c94049-019a-1000-144a-170093ebd70b"
        },
        "destination": {
          "id": "34c3bf38-019a-1000-541c-b7b7e560f65d",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "cdf5577b-3968-3a7f-0f66-99b9deef3ec0"
        },
        "labelIndex": 0,
        "zIndex": 13,
        "selectedRelationships": [""],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "80eb081b-2951-3c9c-8b03-765d48f4f029",
        "instanceIdentifier": "40e36600-ca2c-3e9d-ccce-7db575ed0885",
        "name": "",
        "source": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "4f192ec0-8fbc-39ee-67b6-eb9e3ebf4b20"
        },
        "destination": {
          "id": "9848bb16-f68d-3897-906e-3fb7446fcd68",
          "type": "INPUT_PORT",
          "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
          "name": "input",
          "instanceIdentifier": "c1d4036f-4162-345b-0ded-859a217ba477"
        },
        "labelIndex": 0,
        "zIndex": 5,
        "selectedRelationships": ["is_push"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "23dae1b4-a00e-321d-a10a-375c47cba773",
        "instanceIdentifier": "34c41cad-019a-1000-4b2f-1d316d745070",
        "name": "",
        "source": {
          "id": "d964e164-cd11-3a2f-946a-52ff1faa1cfe",
          "type": "OUTPUT_PORT",
          "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
          "name": "output",
          "instanceIdentifier": "34c331a5-019a-1000-c244-dcbb8216f905"
        },
        "destination": {
          "id": "34c3bf38-019a-1000-541c-b7b7e560f65d",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "cdf5577b-3968-3a7f-0f66-99b9deef3ec0"
        },
        "labelIndex": 0,
        "zIndex": 12,
        "selectedRelationships": [""],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "6338e86a-a4a1-3cd4-a565-11888850fdc7",
        "instanceIdentifier": "e065524b-a8ee-39df-19d7-e71fc52e96d9",
        "name": "",
        "source": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "4f192ec0-8fbc-39ee-67b6-eb9e3ebf4b20"
        },
        "destination": {
          "id": "690ad08f-759f-3de9-af7e-ef1552b6c982",
          "type": "INPUT_PORT",
          "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
          "name": "input",
          "instanceIdentifier": "ce295c43-800f-396c-9216-d3a42cfd2ad4"
        },
        "labelIndex": 0,
        "zIndex": 6,
        "selectedRelationships": ["is_pull"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "332a1412-15eb-3542-a8c1-62471d82648f",
        "instanceIdentifier": "34b5c4cc-019a-1000-883e-1e0414c5cf40",
        "name": "",
        "source": {
          "id": "8faa42cd-2edd-3b53-a53a-54210ad99860",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "34b35692-019a-1000-e8c1-172047b7c888"
        },
        "destination": {
          "id": "ea86065f-83b3-31fd-81bf-f15f9ea93bee",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "HandleHttpResponse",
          "comments": "",
          "instanceIdentifier": "34b5a90e-019a-1000-6d4c-18f4ed9b0f27"
        },
        "labelIndex": 0,
        "zIndex": 9,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      },
      {
        "identifier": "7c53a6d6-1c16-38af-98df-45fa0a1d815b",
        "instanceIdentifier": "34bcf03e-019a-1000-44d5-f2716196dba5",
        "name": "",
        "source": {
          "id": "6576c1c2-9ef8-336c-8eef-9a1bac479104",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "HandleHttpRequest",
          "comments": "",
          "instanceIdentifier": "34bb7bf3-019a-1000-768d-2cd4c4f584bf"
        },
        "destination": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "9389be6c-b23e-333e-955e-5e35c67b686d",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "4f192ec0-8fbc-39ee-67b6-eb9e3ebf4b20"
        },
        "labelIndex": 0,
        "zIndex": 10,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
        "instanceIdentifier": "34a769ef-019a-1000-3f32-ac2595f56a2d",
        "name": "StandardHttpContextMap",
        "comments": "",
        "type": "org.apache.nifi.http.StandardHttpContextMap",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-http-context-map-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Request Expiration": "1 min",
          "Maximum Outstanding Requests": "5000"
        },
        "propertyDescriptors": {
          "Request Expiration": {
            "name": "Request Expiration",
            "displayName": "Request Expiration",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Outstanding Requests": {
            "name": "Maximum Outstanding Requests",
            "displayName": "Maximum Outstanding Requests",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.http.HttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.6.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "9389be6c-b23e-333e-955e-5e35c67b686d"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
