flow_definitions/flow_definition.json
{
  "flowContents": {
    "identifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
    "instanceIdentifier": "39de60da-019a-1000-ae6e-6068578a8256",
    "name": "flow_definition",
    "comments": "",
    "position": { "x": -184.0, "y": 64.0 },
    "processGroups": [
      {
        "identifier": "e981572e-329c-3558-a62b-1cad144daf38",
        "instanceIdentifier": "1d087e30-6c6b-305a-f0c6-42768bb77c51",
        "name": "consumer_pull_etl",
        "comments": "",
        "position": { "x": 208.0, "y": 280.0 },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "35627669-019a-1000-92ac-a7ea2d4dd364",
            "instanceIdentifier": "9481d9fd-f9e0-3793-2d46-1ec3da1bdce1",
            "name": "JoltTransformJSON",
            "comments": "",
            "position": { "x": 16.0, "y": 1200.0 },
            "type": "org.apache.nifi.processors.jolt.JoltTransformJSON",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-jolt-nar",
              "version": "2.6.0"
            },
            "properties": {
              "JSON Source": "FLOW_FILE",
              "Jolt Transform": "jolt-transform-shift",
              "JSON Source Attribute": null,
              "Max String Length": "20 MB",
              "Transform Cache Size": "1",
              "Custom Transformation Class Name": null,
              "Custom Module Directory": null,
              "Pretty Print": "false",
              "Jolt Specification": "{\n      \"ID\": \"id\",\n      \"CreatedAt\": \"created_at\",\n      \"UpdatedAt\": \"updated_at\",\n      \"DeletedAt\": \"deleted_at\",\n      \"hotel_id\": \"hotel_id\",\n      \"year\": \"year\",\n      \"rooms\": \"rooms\",\n      \"stays\": \"stays\",\n      \"gasKwh\": \"gas_kwh\",\n      \"waterM3\": \"water_m3\",\n      \"occupied\": \"occupied\",\n      \"deviation\": \"deviation\",\n      \"energyKwh\": \"energy_kwh\",\n      \"ratingCo2\": \"rating_co2\",\n      \"totalArea\": \"total_area\",\n      \"staysPerRN\": \"stays_per_rn\",\n      \"electricity\": \"electricity\",\n      \"ratingCo2RN\": \"rating_co2_rn\",\n      \"ratingWater\": \"rating_water\",\n      \"deviationCo2\": \"deviation_co2\",\n      \"ratingEnergy\": \"rating_energy\",\n      \"ratingCo2S1RN\": \"rating_co2_s1_rn\",\n      \"ratingCo2S2RN\": \"rating_co2_s2_rn\",\n      \"ratingCo2Stay\": \"rating_co2_stay\",\n      \"ratingWaterRN\": \"rating_water_rn\",\n      \"deviationCo2RN\": \"deviation_co2_rn\",\n      \"deviationWaste\": \"deviation_waste\",\n      \"deviationWater\": \"deviation_water\",\n      \"electricityKwh\": \"electricity_kwh\",\n      \"ratingEnergyRN\": \"rating_energy_rn\",\n      \"totalEmissions\": \"total_emissions\",\n      \"co2Compensation\": \"co2_compensation\",\n      \"deviationEnergy\": \"deviation_energy\",\n      \"ratingCo2S1Stay\": \"rating_co2_s1_stay\",\n      \"ratingCo2S2Stay\": \"rating_co2_s2_stay\",\n      \"ratingWaterArea\": \"rating_water_area\",\n      \"ratingWaterRoom\": \"rating_water_room\",\n      \"ratingWaterStay\": \"rating_water_stay\",\n      \"scope1Emissions\": \"scope1_emissions\",\n      \"scope2Emissions\": \"scope2_emissions\",\n      \"deviationCo2S1RN\": \"deviation_co2_s1_rn\",\n      \"deviationCo2S2RN\": \"deviation_co2_s2_rn\",\n      \"deviationCo2S3RN\": \"deviation_co2_s3_rn\",\n      \"deviationCo2Stay\": \"deviation_co2_stay\",\n      \"deviationWasteRN\": \"deviation_waste_rn\",\n      \"deviationWaterRN\": \"deviation_water_rn\",\n      \"directStationary\": \"direct_stationary\",\n      \"ratingEnergyArea\": \"rating_energy_area\",\n      \"ratingEnergyRoom\": \"rating_energy_room\",\n      \"ratingEnergyStay\": \"rating_energy_stay\",\n      \"recommendedStars\": \"recommended_stars\",\n      \"deviationEnergyRN\": \"deviation_energy_rn\",\n      \"deviationCo2S1Stay\": \"deviation_co2_s1_stay\",\n      \"deviationCo2S2Stay\": \"deviation_co2_s2_stay\",\n      \"deviationCo2S3Stay\": \"deviation_co2_s3_stay\",\n      \"deviationWasteStay\": \"deviation_waste_stay\",\n      \"deviationWaterStay\": \"deviation_water_stay\",\n      \"recommendedStarsV1\": \"recommended_stars_v1\",\n      \"recommendedStarsV2\": \"recommended_stars_v2\",\n      \"scope2Compensation\": \"scope2_compensation\",\n      \"deviationEnergyStay\": \"deviation_energy_stay\",\n      \"energyKwhWithCo2Compensation\": \"energy_kwh_with_co2_compensation\",\n      \"ratingEnergyWithCo2Compensation\": \"rating_energy_with_co2_compensation\",\n      \"deviationEnergyWithCo2Compensation\": \"deviation_energy_with_co2_compensation\"\n    }"
            },
            "propertyDescriptors": {
              "JSON Source": {
                "name": "JSON Source",
                "displayName": "JSON Source",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Transform": {
                "name": "Jolt Transform",
                "displayName": "Jolt Transform",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JSON Source Attribute": {
                "name": "JSON Source Attribute",
                "displayName": "JSON Source Attribute",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Transform Cache Size": {
                "name": "Transform Cache Size",
                "displayName": "Transform Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Transformation Class Name": {
                "name": "Custom Transformation Class Name",
                "displayName": "Custom Transformation Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Module Directory": {
                "name": "Custom Module Directory",
                "displayName": "Custom Module Directory",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["DIRECTORY", "FILE"]
                }
              },
              "Pretty Print": {
                "name": "Pretty Print",
                "displayName": "Pretty Print",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Specification": {
                "name": "Jolt Specification",
                "displayName": "Jolt Specification",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "SINGLE",
                  "resourceTypes": ["TEXT", "FILE"]
                }
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "70ac38fd-0825-3b59-97c9-a2ae06d2feb9",
            "instanceIdentifier": "686b4083-5f8d-357d-71ca-18cc36a15a55",
            "name": "SplitJson",
            "comments": "",
            "position": { "x": 16.0, "y": 296.0 },
            "type": "org.apache.nifi.processors.standard.SplitJson",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Max String Length": "20 MB",
              "Null Value Representation": "empty string",
              "JsonPath Expression": "$[*]"
            },
            "propertyDescriptors": {
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Null Value Representation": {
                "name": "Null Value Representation",
                "displayName": "Null Value Representation",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JsonPath Expression": {
                "name": "JsonPath Expression",
                "displayName": "JsonPath Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3562766a-019a-1000-6643-d038c54adf42",
            "instanceIdentifier": "1a084473-caff-340a-8abb-d23b3719428c",
            "name": "PutDatabaseRecord",
            "comments": "",
            "position": { "x": 16.0, "y": 1400.0 },
            "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "put-db-record-allow-multiple-statements": "false",
              "put-db-record-schema-name": "public",
              "put-db-record-field-containing-sql": null,
              "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
              "Delete Keys": null,
              "put-db-record-catalog-name": "postgres",
              "put-db-record-statement-type": "INSERT",
              "put-db-record-update-keys": null,
              "put-db-record-quoted-identifiers": "false",
              "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
              "put-db-record-max-batch-size": "1000",
              "Database Dialect Service": null,
              "Data Record Path": null,
              "database-session-autocommit": "false",
              "table-schema-cache-size": "100",
              "put-db-record-quoted-table-identifiers": "false",
              "Statement Type Record Path": null,
              "Column Name Translation Pattern": null,
              "put-db-record-translate-field-names": "true",
              "put-db-record-dcbp-service": "9ca41fbf-a40f-3aad-8fff-fee0a280b7b2",
              "put-db-record-query-timeout": "0 seconds",
              "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
              "rollback-on-failure": "false",
              "put-db-record-binary-format": "UTF-8",
              "db-type": "PostgreSQL",
              "put-db-record-table-name": "hotel_measure",
              "put-db-record-record-reader": "a2362c08-2da7-3dfe-b1df-1ca8caaea363"
            },
            "propertyDescriptors": {
              "put-db-record-allow-multiple-statements": {
                "name": "put-db-record-allow-multiple-statements",
                "displayName": "Allow Multiple SQL Statements",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-schema-name": {
                "name": "put-db-record-schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-field-containing-sql": {
                "name": "put-db-record-field-containing-sql",
                "displayName": "Field Containing SQL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-column-behavior": {
                "name": "put-db-record-unmatched-column-behavior",
                "displayName": "Unmatched Column Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Delete Keys": {
                "name": "Delete Keys",
                "displayName": "Delete Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-catalog-name": {
                "name": "put-db-record-catalog-name",
                "displayName": "Database Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-statement-type": {
                "name": "put-db-record-statement-type",
                "displayName": "Statement Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-update-keys": {
                "name": "put-db-record-update-keys",
                "displayName": "Update Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-identifiers": {
                "name": "put-db-record-quoted-identifiers",
                "displayName": "Quote Column Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-field-behavior": {
                "name": "put-db-record-unmatched-field-behavior",
                "displayName": "Unmatched Field Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-max-batch-size": {
                "name": "put-db-record-max-batch-size",
                "displayName": "Maximum Batch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Dialect Service": {
                "name": "Database Dialect Service",
                "displayName": "Database Dialect Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Data Record Path": {
                "name": "Data Record Path",
                "displayName": "Data Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-session-autocommit": {
                "name": "database-session-autocommit",
                "displayName": "Database Session AutoCommit",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "table-schema-cache-size": {
                "name": "table-schema-cache-size",
                "displayName": "Table Schema Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-table-identifiers": {
                "name": "put-db-record-quoted-table-identifiers",
                "displayName": "Quote Table Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Statement Type Record Path": {
                "name": "Statement Type Record Path",
                "displayName": "Statement Type Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Pattern": {
                "name": "Column Name Translation Pattern",
                "displayName": "Column Name Translation Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-translate-field-names": {
                "name": "put-db-record-translate-field-names",
                "displayName": "Translate Field Names",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-dcbp-service": {
                "name": "put-db-record-dcbp-service",
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-query-timeout": {
                "name": "put-db-record-query-timeout",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Strategy": {
                "name": "Column Name Translation Strategy",
                "displayName": "Column Name Translation Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-binary-format": {
                "name": "put-db-record-binary-format",
                "displayName": "Binary String Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "db-type": {
                "name": "db-type",
                "displayName": "Database Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-table-name": {
                "name": "put-db-record-table-name",
                "displayName": "Table Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-record-reader": {
                "name": "put-db-record-record-reader",
                "displayName": "Record Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success", "failure", "retry"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "307e7b9e-019a-1000-c96a-e19bf9eb5279",
            "instanceIdentifier": "7cb8eb19-64a7-35de-fad5-a3728787d327",
            "name": "LogMessage",
            "comments": "",
            "position": { "x": -702.0801544189453, "y": 20.93714141845703 },
            "type": "org.apache.nifi.processors.standard.LogMessage",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "log-message": "${restlistener.request.uri}",
              "log-level": "info",
              "log-prefix": null
            },
            "propertyDescriptors": {
              "log-message": {
                "name": "log-message",
                "displayName": "Log message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-level": {
                "name": "log-level",
                "displayName": "Log Level",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-prefix": {
                "name": "log-prefix",
                "displayName": "Log prefix",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
            "instanceIdentifier": "66c0bed5-7a60-397b-6fbd-c44c454ebcf7",
            "name": "InvokeHTTP",
            "comments": "",
            "position": { "x": 13.199970245361328, "y": 16.0 },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Request Content-Encoding": "DISABLED",
              "proxy-configuration-service": null,
              "Request Multipart Form-Data Filename Enabled": "true",
              "Request Chunked Transfer-Encoding Enabled": "false",
              "Response Header Request Attributes Prefix": null,
              "HTTP/2 Disabled": "False",
              "Connection Timeout": "5 secs",
              "Response Cookie Strategy": "DISABLED",
              "Socket Read Timeout": "15 secs",
              "Socket Idle Connections": "5",
              "Request Body Enabled": "true",
              "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
              "HTTP URL": "http://host.docker.internal:8081/hotels/",
              "Request OAuth2 Access Token Provider": null,
              "Socket Idle Timeout": "5 mins",
              "Response Redirects Enabled": "True",
              "Socket Write Timeout": "15 secs",
              "Request Header Attributes Pattern": null,
              "Response FlowFile Naming Strategy": "RANDOM",
              "Response Cache Enabled": "false",
              "Request Date Header Enabled": "True",
              "Request Failure Penalization Enabled": "false",
              "Response Body Attribute Size": "256",
              "SSL Context Service": null,
              "Response Generation Required": "false",
              "Request User-Agent": null,
              "Response Header Request Attributes Enabled": "false",
              "HTTP Method": "GET",
              "Request Username": null,
              "Request Content-Type": "${mime.type}",
              "Response Body Attribute Name": null,
              "Request Digest Authentication Enabled": "false",
              "Request Multipart Form-Data Name": null,
              "Response Cache Size": "10MB",
              "Response Body Ignored": "false"
            },
            "propertyDescriptors": {
              "Request Content-Encoding": {
                "name": "Request Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Request Multipart Form-Data Filename Enabled": {
                "name": "Request Multipart Form-Data Filename Enabled",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Chunked Transfer-Encoding Enabled": {
                "name": "Request Chunked Transfer-Encoding Enabled",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Header Request Attributes Prefix": {
                "name": "Response Header Request Attributes Prefix",
                "displayName": "Response Header Request Attributes Prefix",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP/2 Disabled": {
                "name": "HTTP/2 Disabled",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Connection Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Cookie Strategy": {
                "name": "Response Cookie Strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Password": {
                "name": "Request Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true,
                "dynamic": false
              },
              "Socket Read Timeout": {
                "name": "Socket Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Socket Idle Connections": {
                "name": "Socket Idle Connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Body Enabled": {
                "name": "Request Body Enabled",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "OAuth2 Access Token Refresh Strategy": {
                "name": "OAuth2 Access Token Refresh Strategy",
                "displayName": "OAuth2 Access Token Refresh Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP URL": {
                "name": "HTTP URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request OAuth2 Access Token Provider": {
                "name": "Request OAuth2 Access Token Provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Socket Idle Timeout": {
                "name": "Socket Idle Timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Redirects Enabled": {
                "name": "Response Redirects Enabled",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Socket Write Timeout": {
                "name": "Socket Write Timeout",
                "displayName": "Socket Write Timeout",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Header Attributes Pattern": {
                "name": "Request Header Attributes Pattern",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response FlowFile Naming Strategy": {
                "name": "Response FlowFile Naming Strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Cache Enabled": {
                "name": "Response Cache Enabled",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Date Header Enabled": {
                "name": "Request Date Header Enabled",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Failure Penalization Enabled": {
                "name": "Request Failure Penalization Enabled",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Body Attribute Size": {
                "name": "Response Body Attribute Size",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Response Generation Required": {
                "name": "Response Generation Required",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request User-Agent": {
                "name": "Request User-Agent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Header Request Attributes Enabled": {
                "name": "Response Header Request Attributes Enabled",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Username": {
                "name": "Request Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Content-Type": {
                "name": "Request Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Body Attribute Name": {
                "name": "Response Body Attribute Name",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Digest Authentication Enabled": {
                "name": "Request Digest Authentication Enabled",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Request Multipart Form-Data Name": {
                "name": "Request Multipart Form-Data Name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Cache Size": {
                "name": "Response Cache Size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Response Body Ignored": {
                "name": "Response Body Ignored",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "5e7257dd-f4f8-3d2b-9347-e0030d1516e1",
            "instanceIdentifier": "7be63f78-f9ff-33e4-8033-a95058470240",
            "name": "SplitJson",
            "comments": "",
            "position": { "x": 24.0, "y": 992.0 },
            "type": "org.apache.nifi.processors.standard.SplitJson",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Max String Length": "20 MB",
              "Null Value Representation": "empty string",
              "JsonPath Expression": "$.measures"
            },
            "propertyDescriptors": {
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Null Value Representation": {
                "name": "Null Value Representation",
                "displayName": "Null Value Representation",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JsonPath Expression": {
                "name": "JsonPath Expression",
                "displayName": "JsonPath Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "d0d121aa-b1f5-39f1-9359-362efbf06034",
            "instanceIdentifier": "e86a184d-e52b-3560-74ba-b58646710e93",
            "name": "ExecuteSQL",
            "comments": "",
            "position": { "x": 266.86300664952955, "y": -293.73887619362404 },
            "type": "org.apache.nifi.processors.standard.ExecuteSQL",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "esql-max-rows": "0",
              "dbf-default-precision": "10",
              "Max Wait Time": "0 seconds",
              "SQL Query": "DROP TABLE IF EXISTS hotel_measure;\nDROP TABLE IF EXISTS hotel;\n\nCREATE TABLE IF NOT EXISTS hotel (\n    id SERIAL PRIMARY KEY,\n    name VARCHAR(100) NOT NULL,\n    address VARCHAR(255) NOT NULL,\n    city VARCHAR(100) NOT NULL\n);\n\nCREATE TABLE IF NOT EXISTS hotel_measure (\n    \"id\" BIGINT PRIMARY KEY,\n    \"created_at\" TIMESTAMP NOT NULL,\n    \"updated_at\" TIMESTAMP NOT NULL,\n    \"deleted_at\" TIMESTAMP,\n    \"hotel_id\" BIGINT NOT NULL,\n    \"year\" INTEGER,\n    \"rooms\" INTEGER,\n    \"stays\" BIGINT,\n    \"gas_kwh\" DOUBLE PRECISION,\n    \"water_m3\" DOUBLE PRECISION,\n    \"occupied\" BIGINT,\n    \"deviation\" DOUBLE PRECISION,\n    \"energy_kwh\" DOUBLE PRECISION,\n    \"rating_co2\" DOUBLE PRECISION,\n    \"total_area\" DOUBLE PRECISION,\n    \"stays_per_rn\" DOUBLE PRECISION,\n    \"electricity\" DOUBLE PRECISION,\n    \"rating_co2_rn\" DOUBLE PRECISION,\n    \"rating_water\" DOUBLE PRECISION,\n    \"deviation_co2\" DOUBLE PRECISION,\n    \"rating_energy\" DOUBLE PRECISION,\n    \"rating_co2_s1_rn\" DOUBLE PRECISION,\n    \"rating_co2_s2_rn\" DOUBLE PRECISION,\n    \"rating_co2_stay\" DOUBLE PRECISION,\n    \"rating_water_rn\" DOUBLE PRECISION,\n    \"deviation_co2_rn\" DOUBLE PRECISION,\n    \"deviation_waste\" DOUBLE PRECISION,\n    \"deviation_water\" DOUBLE PRECISION,\n    \"electricity_kwh\" DOUBLE PRECISION,\n    \"rating_energy_rn\" DOUBLE PRECISION,\n    \"total_emissions\" DOUBLE PRECISION,\n    \"co2_compensation\" DOUBLE PRECISION,\n    \"deviation_energy\" DOUBLE PRECISION,\n    \"rating_co2_s1_stay\" DOUBLE PRECISION,\n    \"rating_co2_s2_stay\" DOUBLE PRECISION,\n    \"rating_water_area\" DOUBLE PRECISION,\n    \"rating_water_room\" DOUBLE PRECISION,\n    \"rating_water_stay\" DOUBLE PRECISION,\n    \"scope1_emissions\" DOUBLE PRECISION,\n    \"scope2_emissions\" DOUBLE PRECISION,\n    \"deviation_co2_s1_rn\" DOUBLE PRECISION,\n    \"deviation_co2_s2_rn\" DOUBLE PRECISION,\n    \"deviation_co2_s3_rn\" DOUBLE PRECISION,\n    \"deviation_co2_stay\" DOUBLE PRECISION,\n    \"deviation_waste_rn\" DOUBLE PRECISION,\n    \"deviation_water_rn\" DOUBLE PRECISION,\n    \"direct_stationary\" DOUBLE PRECISION,\n    \"rating_energy_area\" DOUBLE PRECISION,\n    \"rating_energy_room\" DOUBLE PRECISION,\n    \"rating_energy_stay\" DOUBLE PRECISION,\n    \"recommended_stars\" DOUBLE PRECISION,\n    \"deviation_energy_rn\" DOUBLE PRECISION,\n    \"deviation_co2_s1_stay\" DOUBLE PRECISION,\n    \"deviation_co2_s2_stay\" DOUBLE PRECISION,\n    \"deviation_co2_s3_stay\" DOUBLE PRECISION,\n    \"deviation_waste_stay\" DOUBLE PRECISION,\n    \"deviation_water_stay\" DOUBLE PRECISION,\n    \"recommended_stars_v1\" DOUBLE PRECISION,\n    \"recommended_stars_v2\" DOUBLE PRECISION,\n    \"scope2_compensation\" DOUBLE PRECISION,\n    \"deviation_energy_stay\" DOUBLE PRECISION,\n    \"energy_kwh_with_co2_compensation\" DOUBLE PRECISION,\n    \"rating_energy_with_co2_compensation\" DOUBLE PRECISION,\n    \"deviation_energy_with_co2_compensation\" DOUBLE PRECISION,\n\n    CONSTRAINT fk_hotel\n      FOREIGN KEY(\"hotel_id\") \n      REFERENCES hotel(id)\n      ON DELETE CASCADE\n);\n",
              "Database Connection Pooling Service": "9ca41fbf-a40f-3aad-8fff-fee0a280b7b2",
              "sql-post-query": null,
              "esql-auto-commit": "true",
              "dbf-user-logical-types": "false",
              "dbf-default-scale": "0",
              "sql-pre-query": null,
              "compression-format": "NONE",
              "esql-output-batch-size": "0",
              "esql-fetch-size": "0",
              "dbf-normalize": "false",
              "Content Output Strategy": "EMPTY"
            },
            "propertyDescriptors": {
              "esql-max-rows": {
                "name": "esql-max-rows",
                "displayName": "Max Rows Per Flow File",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbf-default-precision": {
                "name": "dbf-default-precision",
                "displayName": "Default Decimal Precision",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Wait Time": {
                "name": "Max Wait Time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "SQL Query": {
                "name": "SQL Query",
                "displayName": "SQL Query",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Connection Pooling Service": {
                "name": "Database Connection Pooling Service",
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "sql-post-query": {
                "name": "sql-post-query",
                "displayName": "SQL Post-Query",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "esql-auto-commit": {
                "name": "esql-auto-commit",
                "displayName": "Set Auto Commit",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbf-user-logical-types": {
                "name": "dbf-user-logical-types",
                "displayName": "Use Avro Logical Types",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbf-default-scale": {
                "name": "dbf-default-scale",
                "displayName": "Default Decimal Scale",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "sql-pre-query": {
                "name": "sql-pre-query",
                "displayName": "SQL Pre-Query",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "compression-format": {
                "name": "compression-format",
                "displayName": "Compression Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "esql-output-batch-size": {
                "name": "esql-output-batch-size",
                "displayName": "Output Batch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "esql-fetch-size": {
                "name": "esql-fetch-size",
                "displayName": "Fetch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbf-normalize": {
                "name": "dbf-normalize",
                "displayName": "Normalize Table/Column Names",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Content Output Strategy": {
                "name": "Content Output Strategy",
                "displayName": "Content Output Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success", "failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3561a604-019a-1000-51e5-b3895fb4c7fc",
            "instanceIdentifier": "ba607eb0-0d53-33e5-62a9-9f2921888289",
            "name": "PutDatabaseRecord",
            "comments": "",
            "position": { "x": 16.0, "y": 784.0 },
            "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "put-db-record-allow-multiple-statements": "false",
              "put-db-record-schema-name": "public",
              "put-db-record-field-containing-sql": null,
              "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
              "Delete Keys": null,
              "put-db-record-catalog-name": "postgres",
              "put-db-record-statement-type": "INSERT",
              "put-db-record-update-keys": null,
              "put-db-record-quoted-identifiers": "false",
              "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
              "put-db-record-max-batch-size": "1000",
              "Database Dialect Service": null,
              "Data Record Path": null,
              "database-session-autocommit": "false",
              "table-schema-cache-size": "100",
              "put-db-record-quoted-table-identifiers": "false",
              "Statement Type Record Path": null,
              "Column Name Translation Pattern": null,
              "put-db-record-translate-field-names": "true",
              "put-db-record-dcbp-service": "9ca41fbf-a40f-3aad-8fff-fee0a280b7b2",
              "put-db-record-query-timeout": "0 seconds",
              "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
              "rollback-on-failure": "false",
              "put-db-record-binary-format": "UTF-8",
              "db-type": "PostgreSQL",
              "put-db-record-table-name": "hotel",
              "put-db-record-record-reader": "ae8bc523-354f-391c-98d0-70c8889b72c1"
            },
            "propertyDescriptors": {
              "put-db-record-allow-multiple-statements": {
                "name": "put-db-record-allow-multiple-statements",
                "displayName": "Allow Multiple SQL Statements",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-schema-name": {
                "name": "put-db-record-schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-field-containing-sql": {
                "name": "put-db-record-field-containing-sql",
                "displayName": "Field Containing SQL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-column-behavior": {
                "name": "put-db-record-unmatched-column-behavior",
                "displayName": "Unmatched Column Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Delete Keys": {
                "name": "Delete Keys",
                "displayName": "Delete Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-catalog-name": {
                "name": "put-db-record-catalog-name",
                "displayName": "Database Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-statement-type": {
                "name": "put-db-record-statement-type",
                "displayName": "Statement Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-update-keys": {
                "name": "put-db-record-update-keys",
                "displayName": "Update Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-identifiers": {
                "name": "put-db-record-quoted-identifiers",
                "displayName": "Quote Column Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-field-behavior": {
                "name": "put-db-record-unmatched-field-behavior",
                "displayName": "Unmatched Field Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-max-batch-size": {
                "name": "put-db-record-max-batch-size",
                "displayName": "Maximum Batch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Dialect Service": {
                "name": "Database Dialect Service",
                "displayName": "Database Dialect Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Data Record Path": {
                "name": "Data Record Path",
                "displayName": "Data Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-session-autocommit": {
                "name": "database-session-autocommit",
                "displayName": "Database Session AutoCommit",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "table-schema-cache-size": {
                "name": "table-schema-cache-size",
                "displayName": "Table Schema Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-table-identifiers": {
                "name": "put-db-record-quoted-table-identifiers",
                "displayName": "Quote Table Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Statement Type Record Path": {
                "name": "Statement Type Record Path",
                "displayName": "Statement Type Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Pattern": {
                "name": "Column Name Translation Pattern",
                "displayName": "Column Name Translation Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-translate-field-names": {
                "name": "put-db-record-translate-field-names",
                "displayName": "Translate Field Names",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-dcbp-service": {
                "name": "put-db-record-dcbp-service",
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-query-timeout": {
                "name": "put-db-record-query-timeout",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Strategy": {
                "name": "Column Name Translation Strategy",
                "displayName": "Column Name Translation Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-binary-format": {
                "name": "put-db-record-binary-format",
                "displayName": "Binary String Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "db-type": {
                "name": "db-type",
                "displayName": "Database Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-table-name": {
                "name": "put-db-record-table-name",
                "displayName": "Table Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-record-reader": {
                "name": "put-db-record-record-reader",
                "displayName": "Record Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure", "retry"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3561a603-019a-1000-b4ea-cb6ce3b6885e",
            "instanceIdentifier": "3c1dca20-b9e0-3e85-a4e1-002b4e65378f",
            "name": "JoltTransformJSON",
            "comments": "",
            "position": { "x": 16.0, "y": 528.0 },
            "type": "org.apache.nifi.processors.jolt.JoltTransformJSON",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-jolt-nar",
              "version": "2.6.0"
            },
            "properties": {
              "JSON Source": "FLOW_FILE",
              "Jolt Transform": "jolt-transform-shift",
              "JSON Source Attribute": null,
              "Max String Length": "20 MB",
              "Transform Cache Size": "1",
              "Custom Transformation Class Name": null,
              "Custom Module Directory": null,
              "Pretty Print": "false",
              "Jolt Specification": "{\n      \"name\": \"&\",\n      \"address\": \"&\",\n      \"city\": \"&\",\n\"measures\": \"&\"\n    }"
            },
            "propertyDescriptors": {
              "JSON Source": {
                "name": "JSON Source",
                "displayName": "JSON Source",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Transform": {
                "name": "Jolt Transform",
                "displayName": "Jolt Transform",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JSON Source Attribute": {
                "name": "JSON Source Attribute",
                "displayName": "JSON Source Attribute",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Transform Cache Size": {
                "name": "Transform Cache Size",
                "displayName": "Transform Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Transformation Class Name": {
                "name": "Custom Transformation Class Name",
                "displayName": "Custom Transformation Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Module Directory": {
                "name": "Custom Module Directory",
                "displayName": "Custom Module Directory",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["DIRECTORY", "FILE"]
                }
              },
              "Pretty Print": {
                "name": "Pretty Print",
                "displayName": "Pretty Print",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Specification": {
                "name": "Jolt Specification",
                "displayName": "Jolt Specification",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "SINGLE",
                  "resourceTypes": ["TEXT", "FILE"]
                }
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "inputPorts": [
          {
            "identifier": "690ad08f-759f-3de9-af7e-ef1552b6c982",
            "instanceIdentifier": "dc1718a3-e88c-3491-79c2-a89bc0630917",
            "name": "input",
            "position": { "x": -280.0, "y": -152.0 },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "INPUT_PORT",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "outputPorts": [
          {
            "identifier": "6d129677-9413-3b30-9741-154ca063640b",
            "instanceIdentifier": "fc1c035f-3bca-3b09-c6c2-c542030e14e3",
            "name": "output",
            "position": { "x": 760.0, "y": 16.0 },
            "type": "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "OUTPUT_PORT",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "connections": [
          {
            "identifier": "c3085a4c-27ae-31e1-b508-454ba114cf68",
            "instanceIdentifier": "e9526d6f-047a-3825-0d65-2a91622e2f7a",
            "name": "",
            "source": {
              "id": "690ad08f-759f-3de9-af7e-ef1552b6c982",
              "type": "INPUT_PORT",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "input",
              "instanceIdentifier": "dc1718a3-e88c-3491-79c2-a89bc0630917"
            },
            "destination": {
              "id": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "66c0bed5-7a60-397b-6fbd-c44c454ebcf7"
            },
            "labelIndex": 0,
            "zIndex": 2,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3561a605-019a-1000-7042-02cebb5f8de3",
            "instanceIdentifier": "42111898-c7b4-3395-a785-15ac5bc8780a",
            "name": "",
            "source": {
              "id": "3561a603-019a-1000-b4ea-cb6ce3b6885e",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "3c1dca20-b9e0-3e85-a4e1-002b4e65378f"
            },
            "destination": {
              "id": "3561a604-019a-1000-51e5-b3895fb4c7fc",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "ba607eb0-0d53-33e5-62a9-9f2921888289"
            },
            "labelIndex": 0,
            "zIndex": 5,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "04cdb3f8-d359-3440-b9fe-d537b675854d",
            "instanceIdentifier": "8bbc1032-db31-3f94-da72-b55b650bf85a",
            "name": "",
            "source": {
              "id": "690ad08f-759f-3de9-af7e-ef1552b6c982",
              "type": "INPUT_PORT",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "input",
              "instanceIdentifier": "dc1718a3-e88c-3491-79c2-a89bc0630917"
            },
            "destination": {
              "id": "307e7b9e-019a-1000-c96a-e19bf9eb5279",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "LogMessage",
              "comments": "",
              "instanceIdentifier": "7cb8eb19-64a7-35de-fad5-a3728787d327"
            },
            "labelIndex": 0,
            "zIndex": 1,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "e065e8d7-5c91-3f7d-8234-f196747ac6c5",
            "instanceIdentifier": "0efbd370-0efb-3fd6-a137-a2f96e14fb57",
            "name": "",
            "source": {
              "id": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "66c0bed5-7a60-397b-6fbd-c44c454ebcf7"
            },
            "destination": {
              "id": "70ac38fd-0825-3b59-97c9-a2ae06d2feb9",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "686b4083-5f8d-357d-71ca-18cc36a15a55"
            },
            "labelIndex": 0,
            "zIndex": 7,
            "selectedRelationships": ["Response"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "df532346-2bdc-330c-ad7d-15b4dd783dba",
            "instanceIdentifier": "e867db2f-fff8-3184-252d-64668fefe455",
            "name": "",
            "source": {
              "id": "690ad08f-759f-3de9-af7e-ef1552b6c982",
              "type": "INPUT_PORT",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "input",
              "instanceIdentifier": "dc1718a3-e88c-3491-79c2-a89bc0630917"
            },
            "destination": {
              "id": "d0d121aa-b1f5-39f1-9359-362efbf06034",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "ExecuteSQL",
              "comments": "",
              "instanceIdentifier": "e86a184d-e52b-3560-74ba-b58646710e93"
            },
            "labelIndex": 0,
            "zIndex": 17,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "417f2b98-d393-3db8-8b20-2ce7ccc104a4",
            "instanceIdentifier": "8e74de7e-9c4e-3f52-cc71-d93f3704579b",
            "name": "",
            "source": {
              "id": "70ac38fd-0825-3b59-97c9-a2ae06d2feb9",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "686b4083-5f8d-357d-71ca-18cc36a15a55"
            },
            "destination": {
              "id": "3561a603-019a-1000-b4ea-cb6ce3b6885e",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "3c1dca20-b9e0-3e85-a4e1-002b4e65378f"
            },
            "labelIndex": 0,
            "zIndex": 13,
            "selectedRelationships": ["original", "split"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "3562766b-019a-1000-c318-422e400c29c2",
            "instanceIdentifier": "213c3f18-d0e3-394b-7bcc-e2dc823101f4",
            "name": "",
            "source": {
              "id": "35627669-019a-1000-92ac-a7ea2d4dd364",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "9481d9fd-f9e0-3793-2d46-1ec3da1bdce1"
            },
            "destination": {
              "id": "3562766a-019a-1000-6643-d038c54adf42",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "1a084473-caff-340a-8abb-d23b3719428c"
            },
            "labelIndex": 0,
            "zIndex": 5,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "985300ae-7a9f-3031-8ffe-b8dcd4d65d20",
            "instanceIdentifier": "fab5e176-487d-3080-3014-a2e60f44391f",
            "name": "",
            "source": {
              "id": "5e7257dd-f4f8-3d2b-9347-e0030d1516e1",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "7be63f78-f9ff-33e4-8033-a95058470240"
            },
            "destination": {
              "id": "35627669-019a-1000-92ac-a7ea2d4dd364",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "9481d9fd-f9e0-3793-2d46-1ec3da1bdce1"
            },
            "labelIndex": 0,
            "zIndex": 14,
            "selectedRelationships": ["original", "split"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "e12a8a06-d497-3f0d-ae73-e9d1b7f334db",
            "instanceIdentifier": "15910fd0-0149-328c-a22b-a12c303a16b5",
            "name": "",
            "source": {
              "id": "c98ebe0c-49a6-3c76-b1ac-d9bc97c2cc9b",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "66c0bed5-7a60-397b-6fbd-c44c454ebcf7"
            },
            "destination": {
              "id": "6d129677-9413-3b30-9741-154ca063640b",
              "type": "OUTPUT_PORT",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "output",
              "instanceIdentifier": "fc1c035f-3bca-3b09-c6c2-c542030e14e3"
            },
            "labelIndex": 0,
            "zIndex": 16,
            "selectedRelationships": ["Response"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "1f4df814-efb9-3d8f-bc18-64dfd70cc24f",
            "instanceIdentifier": "1d38067e-9a43-3b20-4e89-0612184eea63",
            "name": "",
            "source": {
              "id": "3561a604-019a-1000-51e5-b3895fb4c7fc",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "ba607eb0-0d53-33e5-62a9-9f2921888289"
            },
            "destination": {
              "id": "5e7257dd-f4f8-3d2b-9347-e0030d1516e1",
              "type": "PROCESSOR",
              "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "7be63f78-f9ff-33e4-8033-a95058470240"
            },
            "labelIndex": 0,
            "zIndex": 15,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "ae8bc523-354f-391c-98d0-70c8889b72c1",
            "instanceIdentifier": "ba08c623-8a5d-317f-0915-45abc3817e5f",
            "name": "JsonTreeReader",
            "comments": "",
            "type": "org.apache.nifi.json.JsonTreeReader",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": {
              "schema-reference-reader": null,
              "schema-branch": null,
              "Max String Length": "20 MB",
              "schema-application-strategy": "SELECTED_PART",
              "Timestamp Format": null,
              "schema-inference-cache": "64a385ee-d054-3dd7-85ef-d7a627e18f69",
              "Date Format": null,
              "schema-name": "${schema.name}",
              "starting-field-strategy": "ROOT_NODE",
              "schema-registry": null,
              "starting-field-name": null,
              "Time Format": null,
              "schema-access-strategy": "infer-schema",
              "schema-version": null,
              "schema-text": "${avro.schema}",
              "Allow Comments": "false"
            },
            "propertyDescriptors": {
              "schema-reference-reader": {
                "name": "schema-reference-reader",
                "displayName": "Schema Reference Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "schema-branch": {
                "name": "schema-branch",
                "displayName": "Schema Branch",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-application-strategy": {
                "name": "schema-application-strategy",
                "displayName": "Schema Application Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Timestamp Format": {
                "name": "Timestamp Format",
                "displayName": "Timestamp Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-inference-cache": {
                "name": "schema-inference-cache",
                "displayName": "Schema Inference Cache",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Date Format": {
                "name": "Date Format",
                "displayName": "Date Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-name": {
                "name": "schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-strategy": {
                "name": "starting-field-strategy",
                "displayName": "Starting Field Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-registry": {
                "name": "schema-registry",
                "displayName": "Schema Registry",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-name": {
                "name": "starting-field-name",
                "displayName": "Starting Field Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Time Format": {
                "name": "Time Format",
                "displayName": "Time Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-access-strategy": {
                "name": "schema-access-strategy",
                "displayName": "Schema Access Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-version": {
                "name": "schema-version",
                "displayName": "Schema Version",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-text": {
                "name": "schema-text",
                "displayName": "Schema Text",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Allow Comments": {
                "name": "Allow Comments",
                "displayName": "Allow Comments",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordReaderFactory",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "64a385ee-d054-3dd7-85ef-d7a627e18f69",
            "instanceIdentifier": "bdff7709-4ca4-3951-d870-f8a311aff3e9",
            "name": "VolatileSchemaCache",
            "comments": "",
            "type": "org.apache.nifi.schema.inference.VolatileSchemaCache",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": { "max-cache-size": "100" },
            "propertyDescriptors": {
              "max-cache-size": {
                "name": "max-cache-size",
                "displayName": "Maximum Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordSchemaCacheService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "a2362c08-2da7-3dfe-b1df-1ca8caaea363",
            "instanceIdentifier": "d1b3f3be-4fab-3a8d-3085-ffe4218853f6",
            "name": "JsonTreeReaderForMeasures",
            "comments": "",
            "type": "org.apache.nifi.json.JsonTreeReader",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": {
              "schema-reference-reader": null,
              "schema-branch": null,
              "Max String Length": "20 MB",
              "schema-application-strategy": "SELECTED_PART",
              "Timestamp Format": "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
              "schema-inference-cache": "64a385ee-d054-3dd7-85ef-d7a627e18f69",
              "Date Format": "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
              "schema-name": "${schema.name}",
              "starting-field-strategy": "ROOT_NODE",
              "schema-registry": null,
              "starting-field-name": null,
              "Time Format": "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
              "schema-access-strategy": "schema-text-property",
              "schema-version": null,
              "schema-text": "{\n  \"type\": \"record\",\n  \"name\": \"hotel_measure\",\n  \"namespace\": \"postgres.public\",\n  \"fields\": [\n    { \"name\": \"id\", \"type\": [\"null\", \"long\"] },\n    {\n      \"name\": \"created_at\",\n      \"type\": [\"null\", { \"type\": \"long\", \"logicalType\": \"timestamp-millis\" }]\n    },\n    {\n      \"name\": \"updated_at\",\n      \"type\": [\"null\", { \"type\": \"long\", \"logicalType\": \"timestamp-millis\" }]\n    },\n    {\n      \"name\": \"deleted_at\",\n      \"type\": [\"null\", { \"type\": \"long\", \"logicalType\": \"timestamp-millis\" }]\n    },\n    { \"name\": \"hotel_id\", \"type\": [\"null\", \"long\"] },\n    { \"name\": \"year\", \"type\": [\"null\", \"int\"] },\n    { \"name\": \"rooms\", \"type\": [\"null\", \"int\"] },\n    { \"name\": \"stays\", \"type\": [\"null\", \"long\"] },\n    { \"name\": \"gas_kwh\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"water_m3\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"occupied\", \"type\": [\"null\", \"long\"] },\n    { \"name\": \"deviation\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"energy_kwh\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"total_area\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"stays_per_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"electricity\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s1_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_waste\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_water\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"electricity_kwh\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"total_emissions\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"co2_compensation\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_energy\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s1_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_co2_s2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_area\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_room\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_water_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"scope1_emissions\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"scope2_emissions\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s1_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s2_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s3_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_waste_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_water_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"direct_stationary\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_area\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_room\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"rating_energy_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"recommended_stars\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_energy_rn\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s1_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s2_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_co2_s3_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_waste_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_water_stay\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"recommended_stars_v1\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"recommended_stars_v2\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"scope2_compensation\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"deviation_energy_stay\", \"type\": [\"null\", \"double\"] },\n    {\n      \"name\": \"energy_kwh_with_co2_compensation\",\n      \"type\": [\"null\", \"double\"]\n    },\n    {\n      \"name\": \"rating_energy_with_co2_compensation\",\n      \"type\": [\"null\", \"double\"]\n    },\n    {\n      \"name\": \"deviation_energy_with_co2_compensation\",\n      \"type\": [\"null\", \"double\"]\n    }\n  ]\n}",
              "Allow Comments": "false"
            },
            "propertyDescriptors": {
              "schema-reference-reader": {
                "name": "schema-reference-reader",
                "displayName": "Schema Reference Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "schema-branch": {
                "name": "schema-branch",
                "displayName": "Schema Branch",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-application-strategy": {
                "name": "schema-application-strategy",
                "displayName": "Schema Application Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Timestamp Format": {
                "name": "Timestamp Format",
                "displayName": "Timestamp Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-inference-cache": {
                "name": "schema-inference-cache",
                "displayName": "Schema Inference Cache",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Date Format": {
                "name": "Date Format",
                "displayName": "Date Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-name": {
                "name": "schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-strategy": {
                "name": "starting-field-strategy",
                "displayName": "Starting Field Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-registry": {
                "name": "schema-registry",
                "displayName": "Schema Registry",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-name": {
                "name": "starting-field-name",
                "displayName": "Starting Field Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Time Format": {
                "name": "Time Format",
                "displayName": "Time Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-access-strategy": {
                "name": "schema-access-strategy",
                "displayName": "Schema Access Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-version": {
                "name": "schema-version",
                "displayName": "Schema Version",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-text": {
                "name": "schema-text",
                "displayName": "Schema Text",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Allow Comments": {
                "name": "Allow Comments",
                "displayName": "Allow Comments",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordReaderFactory",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          },
          {
            "identifier": "9ca41fbf-a40f-3aad-8fff-fee0a280b7b2",
            "instanceIdentifier": "06237068-378f-3b64-16c4-0881a9ed595e",
            "name": "DBCPConnectionPool",
            "comments": "",
            "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-dbcp-service-nar",
              "version": "2.6.0"
            },
            "properties": {
              "dbcp-min-idle-conns": "0",
              "Max Wait Time": "500 millis",
              "Database Driver Class Name": "org.postgresql.Driver",
              "dbcp-min-evictable-idle-time": "30 mins",
              "Max Total Connections": "8",
              "dbcp-max-conn-lifetime": "-1",
              "Validation-query": null,
              "Database Connection URL": "jdbc:postgresql://transactional-db:5432/postgres",
              "dbcp-time-between-eviction-runs": "-1",
              "Database User": "${POSTGRES_USER}",
              "kerberos-user-service": null,
              "dbcp-soft-min-evictable-idle-time": "-1",
              "database-driver-locations": "/opt/nifi/nifi-current/javall/postgresql-42.7.8.jar",
              "dbcp-max-idle-conns": "8",
              "Password": "#{POSTGRES_PASSWORD}"
            },
            "propertyDescriptors": {
              "dbcp-min-idle-conns": {
                "name": "dbcp-min-idle-conns",
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Wait Time": {
                "name": "Max Wait Time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Driver Class Name": {
                "name": "Database Driver Class Name",
                "displayName": "Database Driver Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-min-evictable-idle-time": {
                "name": "dbcp-min-evictable-idle-time",
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Total Connections": {
                "name": "Max Total Connections",
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-max-conn-lifetime": {
                "name": "dbcp-max-conn-lifetime",
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Validation-query": {
                "name": "Validation-query",
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Connection URL": {
                "name": "Database Connection URL",
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-time-between-eviction-runs": {
                "name": "dbcp-time-between-eviction-runs",
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database User": {
                "name": "Database User",
                "displayName": "Database User",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "kerberos-user-service": {
                "name": "kerberos-user-service",
                "displayName": "Kerberos User Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "name": "dbcp-soft-min-evictable-idle-time",
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-driver-locations": {
                "name": "database-driver-locations",
                "displayName": "Database Driver Location(s)",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["URL", "DIRECTORY", "FILE"]
                }
              },
              "dbcp-max-idle-conns": {
                "name": "dbcp-max-idle-conns",
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Password": {
                "name": "Password",
                "displayName": "Password",
                "identifiesControllerService": false,
                "sensitive": true,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.dbcp.DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "e981572e-329c-3558-a62b-1cad144daf38"
          }
        ],
        "parameterContextName": "Environment Variables",
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
        "instanceIdentifier": "de9347dc-c88e-3b9b-6b51-9fc75665d57b",
        "name": "consumer_push_etl",
        "comments": "",
        "position": { "x": -344.0, "y": 280.0 },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "31cf23ef-e611-39a3-b772-108f77b05b37",
            "instanceIdentifier": "eba7582a-8947-38c2-ddb9-17f87498c9dc",
            "name": "JoltTransformJSON",
            "comments": "",
            "position": { "x": -920.0, "y": -272.0 },
            "type": "org.apache.nifi.processors.jolt.JoltTransformJSON",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-jolt-nar",
              "version": "2.6.0"
            },
            "properties": {
              "JSON Source": "FLOW_FILE",
              "Jolt Transform": "jolt-transform-shift",
              "JSON Source Attribute": null,
              "Max String Length": "20 MB",
              "Transform Cache Size": "1",
              "Custom Transformation Class Name": null,
              "Custom Module Directory": null,
              "Pretty Print": "false",
              "Jolt Specification": "{\n      \"id\": \"metric_id\",\n      \"item_type\": \"item_type\",\n      \"last_value\": \"last_value\",\n      \"last_measured_at\": \"last_measured_at\"\n    }"
            },
            "propertyDescriptors": {
              "JSON Source": {
                "name": "JSON Source",
                "displayName": "JSON Source",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Transform": {
                "name": "Jolt Transform",
                "displayName": "Jolt Transform",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JSON Source Attribute": {
                "name": "JSON Source Attribute",
                "displayName": "JSON Source Attribute",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Transform Cache Size": {
                "name": "Transform Cache Size",
                "displayName": "Transform Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Transformation Class Name": {
                "name": "Custom Transformation Class Name",
                "displayName": "Custom Transformation Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Custom Module Directory": {
                "name": "Custom Module Directory",
                "displayName": "Custom Module Directory",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["DIRECTORY", "FILE"]
                }
              },
              "Pretty Print": {
                "name": "Pretty Print",
                "displayName": "Pretty Print",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Jolt Specification": {
                "name": "Jolt Specification",
                "displayName": "Jolt Specification",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "SINGLE",
                  "resourceTypes": ["TEXT", "FILE"]
                }
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "170342b4-6c96-3ff3-b112-66ec67ff2859",
            "instanceIdentifier": "8fd1f603-8218-3a8b-dc30-fd6e21db9492",
            "name": "PutDatabaseRecord",
            "comments": "",
            "position": { "x": -624.0, "y": 8.0 },
            "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "put-db-record-allow-multiple-statements": "false",
              "put-db-record-schema-name": "public",
              "put-db-record-field-containing-sql": null,
              "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
              "Delete Keys": null,
              "put-db-record-catalog-name": "postgres",
              "put-db-record-statement-type": "INSERT",
              "put-db-record-update-keys": null,
              "put-db-record-quoted-identifiers": "false",
              "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
              "put-db-record-max-batch-size": "1000",
              "Database Dialect Service": null,
              "Data Record Path": null,
              "database-session-autocommit": "false",
              "table-schema-cache-size": "100",
              "put-db-record-quoted-table-identifiers": "false",
              "Statement Type Record Path": null,
              "Column Name Translation Pattern": null,
              "put-db-record-translate-field-names": "true",
              "put-db-record-dcbp-service": "72f3a9e9-4971-37dc-9b45-3f39b36a1555",
              "put-db-record-query-timeout": "0 seconds",
              "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
              "rollback-on-failure": "false",
              "put-db-record-binary-format": "UTF-8",
              "db-type": "PostgreSQL",
              "put-db-record-table-name": "metrics",
              "put-db-record-record-reader": "61a8f8c4-83fb-3233-b0e6-636d34f45953"
            },
            "propertyDescriptors": {
              "put-db-record-allow-multiple-statements": {
                "name": "put-db-record-allow-multiple-statements",
                "displayName": "Allow Multiple SQL Statements",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-schema-name": {
                "name": "put-db-record-schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-field-containing-sql": {
                "name": "put-db-record-field-containing-sql",
                "displayName": "Field Containing SQL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-column-behavior": {
                "name": "put-db-record-unmatched-column-behavior",
                "displayName": "Unmatched Column Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Delete Keys": {
                "name": "Delete Keys",
                "displayName": "Delete Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-catalog-name": {
                "name": "put-db-record-catalog-name",
                "displayName": "Database Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-statement-type": {
                "name": "put-db-record-statement-type",
                "displayName": "Statement Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-update-keys": {
                "name": "put-db-record-update-keys",
                "displayName": "Update Keys",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-identifiers": {
                "name": "put-db-record-quoted-identifiers",
                "displayName": "Quote Column Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-unmatched-field-behavior": {
                "name": "put-db-record-unmatched-field-behavior",
                "displayName": "Unmatched Field Behavior",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-max-batch-size": {
                "name": "put-db-record-max-batch-size",
                "displayName": "Maximum Batch Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Dialect Service": {
                "name": "Database Dialect Service",
                "displayName": "Database Dialect Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Data Record Path": {
                "name": "Data Record Path",
                "displayName": "Data Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-session-autocommit": {
                "name": "database-session-autocommit",
                "displayName": "Database Session AutoCommit",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "table-schema-cache-size": {
                "name": "table-schema-cache-size",
                "displayName": "Table Schema Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-quoted-table-identifiers": {
                "name": "put-db-record-quoted-table-identifiers",
                "displayName": "Quote Table Identifiers",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Statement Type Record Path": {
                "name": "Statement Type Record Path",
                "displayName": "Statement Type Record Path",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Pattern": {
                "name": "Column Name Translation Pattern",
                "displayName": "Column Name Translation Pattern",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-translate-field-names": {
                "name": "put-db-record-translate-field-names",
                "displayName": "Translate Field Names",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-dcbp-service": {
                "name": "put-db-record-dcbp-service",
                "displayName": "Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-query-timeout": {
                "name": "put-db-record-query-timeout",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Column Name Translation Strategy": {
                "name": "Column Name Translation Strategy",
                "displayName": "Column Name Translation Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-binary-format": {
                "name": "put-db-record-binary-format",
                "displayName": "Binary String Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "db-type": {
                "name": "db-type",
                "displayName": "Database Type",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-table-name": {
                "name": "put-db-record-table-name",
                "displayName": "Table Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "put-db-record-record-reader": {
                "name": "put-db-record-record-reader",
                "displayName": "Record Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["retry"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c28866-019a-1000-3544-eb2977a35777",
            "instanceIdentifier": "a110da36-ee09-350e-1f43-4bbbeb7f516c",
            "name": "UpdateAttribute",
            "comments": "",
            "position": { "x": 64.0, "y": 0.0 },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "state": "400",
              "Stateful Variables Initial Value": null,
              "message": "{\"message\": \"DB err\"}"
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "state": {
                "name": "state",
                "displayName": "state",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "message": {
                "name": "message",
                "displayName": "message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c18d81-019a-1000-a24b-d9b44b4974fc",
            "instanceIdentifier": "689cea67-64d1-3e8a-ecf8-f7a03e0e6782",
            "name": "HandleHttpResponse",
            "comments": "",
            "position": { "x": 653.5443115234375, "y": -280.0 },
            "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
              "Attributes to add to the HTTP Response (Regex)": null,
              "HTTP Status Code": "${state}",
              "message": "${message}"
            },
            "propertyDescriptors": {
              "HTTP Context Map": {
                "name": "HTTP Context Map",
                "displayName": "HTTP Context Map",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Attributes to add to the HTTP Response (Regex)": {
                "name": "Attributes to add to the HTTP Response (Regex)",
                "displayName": "Attributes to add to the HTTP Response (Regex)",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "HTTP Status Code": {
                "name": "HTTP Status Code",
                "displayName": "HTTP Status Code",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "message": {
                "name": "message",
                "displayName": "message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success", "failure"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c18d80-019a-1000-ed6b-f3daaf278e9b",
            "instanceIdentifier": "beffb47a-304e-3b06-2f43-adc29c78111a",
            "name": "UpdateAttribute",
            "comments": "",
            "position": { "x": -125.79242706298828, "y": -268.1793518066406 },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "2.6.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "state": "400",
              "Stateful Variables Initial Value": null,
              "message": "{\"message\": \"Not processable\"}"
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "state": {
                "name": "state",
                "displayName": "state",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "message": {
                "name": "message",
                "displayName": "message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": true
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "0cabb714-380a-3699-9d58-6ab3e7dccd42",
            "instanceIdentifier": "14ce49da-31fe-3626-5644-50c8c8d30bb9",
            "name": "LogMessage",
            "comments": "",
            "position": { "x": -1496.0, "y": -240.0 },
            "type": "org.apache.nifi.processors.standard.LogMessage",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.6.0"
            },
            "properties": {
              "log-message": "${restlistener.request.uri},${data}",
              "log-level": "info",
              "log-prefix": null
            },
            "propertyDescriptors": {
              "log-message": {
                "name": "log-message",
                "displayName": "Log message",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-level": {
                "name": "log-level",
                "displayName": "Log Level",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "log-prefix": {
                "name": "log-prefix",
                "displayName": "Log prefix",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": ["success"],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "inputPorts": [
          {
            "identifier": "9848bb16-f68d-3897-906e-3fb7446fcd68",
            "instanceIdentifier": "57899c17-3b6a-33fc-8bd8-45b1ecf79dd5",
            "name": "input",
            "position": { "x": -1104.0, "y": -440.0 },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "INPUT_PORT",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "outputPorts": [
          {
            "identifier": "d964e164-cd11-3a2f-946a-52ff1faa1cfe",
            "instanceIdentifier": "82e894e7-5332-33ac-f137-9a489ecc62bd",
            "name": "output",
            "position": { "x": -328.0, "y": 272.0 },
            "type": "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "OUTPUT_PORT",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "connections": [
          {
            "identifier": "38925582-2403-3382-b373-392f2f6c13a1",
            "instanceIdentifier": "1823aaa3-4893-32f1-1de3-4568d87f99ad",
            "name": "",
            "source": {
              "id": "170342b4-6c96-3ff3-b112-66ec67ff2859",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "8fd1f603-8218-3a8b-dc30-fd6e21db9492"
            },
            "destination": {
              "id": "34c28866-019a-1000-3544-eb2977a35777",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "a110da36-ee09-350e-1f43-4bbbeb7f516c"
            },
            "labelIndex": 0,
            "zIndex": 11,
            "selectedRelationships": ["failure"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "c3a1dfe7-3ac5-3bb9-ad4a-ac15ea0f7c9c",
            "instanceIdentifier": "ebcc0fc7-346e-3a4c-4581-ad270e752b76",
            "name": "",
            "source": {
              "id": "31cf23ef-e611-39a3-b772-108f77b05b37",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "eba7582a-8947-38c2-ddb9-17f87498c9dc"
            },
            "destination": {
              "id": "170342b4-6c96-3ff3-b112-66ec67ff2859",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "8fd1f603-8218-3a8b-dc30-fd6e21db9492"
            },
            "labelIndex": 0,
            "zIndex": 5,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "e0f09de4-22ea-3c8a-9d07-a6b06e7f11f6",
            "instanceIdentifier": "90520706-ea4d-323e-c15f-4af9686148f0",
            "name": "",
            "source": {
              "id": "31cf23ef-e611-39a3-b772-108f77b05b37",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "eba7582a-8947-38c2-ddb9-17f87498c9dc"
            },
            "destination": {
              "id": "34c18d80-019a-1000-ed6b-f3daaf278e9b",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "beffb47a-304e-3b06-2f43-adc29c78111a"
            },
            "labelIndex": 0,
            "zIndex": 10,
            "selectedRelationships": ["failure"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "ed82f530-b038-3c34-b85d-48d3ec76a26a",
            "instanceIdentifier": "b302b284-1357-305c-e8eb-c392bcc5f333",
            "name": "",
            "source": {
              "id": "170342b4-6c96-3ff3-b112-66ec67ff2859",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "PutDatabaseRecord",
              "comments": "",
              "instanceIdentifier": "8fd1f603-8218-3a8b-dc30-fd6e21db9492"
            },
            "destination": {
              "id": "d964e164-cd11-3a2f-946a-52ff1faa1cfe",
              "type": "OUTPUT_PORT",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "output",
              "instanceIdentifier": "82e894e7-5332-33ac-f137-9a489ecc62bd"
            },
            "labelIndex": 0,
            "zIndex": 13,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "08e13973-7df7-3691-ac6b-eb801ba59e25",
            "instanceIdentifier": "ce4be065-97a3-3136-af66-68b76686b13e",
            "name": "",
            "source": {
              "id": "34c28866-019a-1000-3544-eb2977a35777",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "a110da36-ee09-350e-1f43-4bbbeb7f516c"
            },
            "destination": {
              "id": "34c18d81-019a-1000-a24b-d9b44b4974fc",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "689cea67-64d1-3e8a-ecf8-f7a03e0e6782"
            },
            "labelIndex": 0,
            "zIndex": 12,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "7796777b-b651-3b77-aa92-ab6bd2762a5a",
            "instanceIdentifier": "18ef4753-ebfb-32d1-6766-2788ed9675a4",
            "name": "",
            "source": {
              "id": "9848bb16-f68d-3897-906e-3fb7446fcd68",
              "type": "INPUT_PORT",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "input",
              "instanceIdentifier": "57899c17-3b6a-33fc-8bd8-45b1ecf79dd5"
            },
            "destination": {
              "id": "31cf23ef-e611-39a3-b772-108f77b05b37",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "JoltTransformJSON",
              "comments": "",
              "instanceIdentifier": "eba7582a-8947-38c2-ddb9-17f87498c9dc"
            },
            "labelIndex": 0,
            "zIndex": 4,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "34c18d82-019a-1000-0b4f-11d968532c22",
            "instanceIdentifier": "cfab8195-5621-3768-23dc-553f48b4e909",
            "name": "",
            "source": {
              "id": "34c18d80-019a-1000-ed6b-f3daaf278e9b",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "beffb47a-304e-3b06-2f43-adc29c78111a"
            },
            "destination": {
              "id": "34c18d81-019a-1000-a24b-d9b44b4974fc",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "689cea67-64d1-3e8a-ecf8-f7a03e0e6782"
            },
            "labelIndex": 0,
            "zIndex": 9,
            "selectedRelationships": ["success"],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "32ded990-ad3f-3a47-a8be-f608bf3e84e8",
            "instanceIdentifier": "c851ea7e-ee3e-356c-f299-6a5ae99417cb",
            "name": "",
            "source": {
              "id": "9848bb16-f68d-3897-906e-3fb7446fcd68",
              "type": "INPUT_PORT",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "input",
              "instanceIdentifier": "57899c17-3b6a-33fc-8bd8-45b1ecf79dd5"
            },
            "destination": {
              "id": "0cabb714-380a-3699-9d58-6ab3e7dccd42",
              "type": "PROCESSOR",
              "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
              "name": "LogMessage",
              "comments": "",
              "instanceIdentifier": "14ce49da-31fe-3626-5644-50c8c8d30bb9"
            },
            "labelIndex": 0,
            "zIndex": 1,
            "selectedRelationships": [""],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "72f3a9e9-4971-37dc-9b45-3f39b36a1555",
            "instanceIdentifier": "6353a552-463f-39cb-7585-fd6d93324382",
            "name": "DBCPConnectionPool",
            "comments": "",
            "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-dbcp-service-nar",
              "version": "2.6.0"
            },
            "properties": {
              "dbcp-min-idle-conns": "0",
              "Max Wait Time": "500 millis",
              "Database Driver Class Name": "org.postgresql.Driver",
              "dbcp-min-evictable-idle-time": "30 mins",
              "Max Total Connections": "8",
              "dbcp-max-conn-lifetime": "-1",
              "Validation-query": null,
              "Database Connection URL": "jdbc:postgresql://transactional-db:5432/postgres",
              "dbcp-time-between-eviction-runs": "-1",
              "Database User": "${POSTGRES_USER}",
              "kerberos-user-service": null,
              "dbcp-soft-min-evictable-idle-time": "-1",
              "database-driver-locations": "/opt/nifi/nifi-current/javall/postgresql-42.7.8.jar",
              "dbcp-max-idle-conns": "8",
              "Password": "#{POSTGRES_PASSWORD}"
            },
            "propertyDescriptors": {
              "dbcp-min-idle-conns": {
                "name": "dbcp-min-idle-conns",
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Wait Time": {
                "name": "Max Wait Time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Driver Class Name": {
                "name": "Database Driver Class Name",
                "displayName": "Database Driver Class Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-min-evictable-idle-time": {
                "name": "dbcp-min-evictable-idle-time",
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max Total Connections": {
                "name": "Max Total Connections",
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-max-conn-lifetime": {
                "name": "dbcp-max-conn-lifetime",
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Validation-query": {
                "name": "Validation-query",
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database Connection URL": {
                "name": "Database Connection URL",
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-time-between-eviction-runs": {
                "name": "dbcp-time-between-eviction-runs",
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Database User": {
                "name": "Database User",
                "displayName": "Database User",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "kerberos-user-service": {
                "name": "kerberos-user-service",
                "displayName": "Kerberos User Service",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "name": "dbcp-soft-min-evictable-idle-time",
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "database-driver-locations": {
                "name": "database-driver-locations",
                "displayName": "Database Driver Location(s)",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "MULTIPLE",
                  "resourceTypes": ["URL", "DIRECTORY", "FILE"]
                }
              },
              "dbcp-max-idle-conns": {
                "name": "dbcp-max-idle-conns",
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Password": {
                "name": "Password",
                "displayName": "Password",
                "identifiesControllerService": false,
                "sensitive": true,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.dbcp.DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "43bcdfd0-8385-3466-89b6-8fa12454aaa0",
            "instanceIdentifier": "f8db09f5-2e41-3073-b796-4a975b88e014",
            "name": "VolatileSchemaCache",
            "comments": "",
            "type": "org.apache.nifi.schema.inference.VolatileSchemaCache",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": { "max-cache-size": "100" },
            "propertyDescriptors": {
              "max-cache-size": {
                "name": "max-cache-size",
                "displayName": "Maximum Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordSchemaCacheService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          },
          {
            "identifier": "61a8f8c4-83fb-3233-b0e6-636d34f45953",
            "instanceIdentifier": "87280ada-2d83-3356-1e9f-5db65ef8dd38",
            "name": "JsonTreeReader for SQL",
            "comments": "",
            "type": "org.apache.nifi.json.JsonTreeReader",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-record-serialization-services-nar",
              "version": "2.6.0"
            },
            "properties": {
              "schema-reference-reader": null,
              "schema-branch": null,
              "Max String Length": "20 MB",
              "schema-application-strategy": "SELECTED_PART",
              "Timestamp Format": "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "schema-inference-cache": "43bcdfd0-8385-3466-89b6-8fa12454aaa0",
              "Date Format": "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "schema-name": "${schema.name}",
              "starting-field-strategy": "ROOT_NODE",
              "schema-registry": null,
              "starting-field-name": null,
              "Time Format": "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "schema-access-strategy": "schema-text-property",
              "schema-version": null,
              "schema-text": "{\n  \"type\": \"record\",\n  \"name\": \"Metrics\",\n  \"namespace\": \"postgres.public\",\n  \"fields\": [\n    { \"name\": \"metric_id\",        \"type\": [\"null\", \"string\"] },\n    { \"name\": \"item_type\",        \"type\": [\"null\", \"string\"] },\n    { \"name\": \"last_value\",       \"type\": [\"null\", \"double\"] },\n    {\n      \"name\": \"last_measured_at\",\n      \"type\": [\n        \"null\",\n        {\n          \"type\": \"long\",\n          \"logicalType\": \"timestamp-millis\"\n        }\n      ]\n    }\n  ]\n}",
              "Allow Comments": "false"
            },
            "propertyDescriptors": {
              "schema-reference-reader": {
                "name": "schema-reference-reader",
                "displayName": "Schema Reference Reader",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "schema-branch": {
                "name": "schema-branch",
                "displayName": "Schema Branch",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-application-strategy": {
                "name": "schema-application-strategy",
                "displayName": "Schema Application Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Timestamp Format": {
                "name": "Timestamp Format",
                "displayName": "Timestamp Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-inference-cache": {
                "name": "schema-inference-cache",
                "displayName": "Schema Inference Cache",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "Date Format": {
                "name": "Date Format",
                "displayName": "Date Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-name": {
                "name": "schema-name",
                "displayName": "Schema Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-strategy": {
                "name": "starting-field-strategy",
                "displayName": "Starting Field Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-registry": {
                "name": "schema-registry",
                "displayName": "Schema Registry",
                "identifiesControllerService": true,
                "sensitive": false,
                "dynamic": false
              },
              "starting-field-name": {
                "name": "starting-field-name",
                "displayName": "Starting Field Name",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Time Format": {
                "name": "Time Format",
                "displayName": "Time Format",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-access-strategy": {
                "name": "schema-access-strategy",
                "displayName": "Schema Access Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-version": {
                "name": "schema-version",
                "displayName": "Schema Version",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "schema-text": {
                "name": "schema-text",
                "displayName": "Schema Text",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Allow Comments": {
                "name": "Allow Comments",
                "displayName": "Allow Comments",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.serialization.RecordReaderFactory",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.6.0"
                }
              }
            ],
            "scheduledState": "DISABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "c2d9d534-22d8-31c5-b58e-689d52afd9ec"
          }
        ],
        "parameterContextName": "Environment Variables",
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      }
    ],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "8faa42cd-2edd-3b53-a53a-54210ad99860",
        "instanceIdentifier": "a8e6275f-a7f4-31d0-5fbd-7cff2a8fee65",
        "name": "UpdateAttribute",
        "comments": "",
        "position": { "x": 616.0, "y": -56.0 },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "state": "400",
          "Stateful Variables Initial Value": null,
          "message": "{\"message\": \"Path not found\"}"
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "state": {
            "name": "state",
            "displayName": "state",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "message": {
            "name": "message",
            "displayName": "message",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "34c3bf38-019a-1000-541c-b7b7e560f65d",
        "instanceIdentifier": "edf68a36-350e-3db4-4324-edd3018196e0",
        "name": "UpdateAttribute",
        "comments": "",
        "position": { "x": -48.0, "y": 560.0 },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "state": "201",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "state": {
            "name": "state",
            "displayName": "state",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "34c3bf40-019a-1000-9fcf-36371b3062cc",
        "instanceIdentifier": "29613acc-a561-389d-d70a-e568fc3415ad",
        "name": "HandleHttpResponse",
        "comments": "",
        "position": { "x": -48.0, "y": 824.0 },
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
          "Attributes to add to the HTTP Response (Regex)": "$.*",
          "HTTP Status Code": "${state}",
          "message": "${message}"
        },
        "propertyDescriptors": {
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "displayName": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to add to the HTTP Response (Regex)": {
            "name": "Attributes to add to the HTTP Response (Regex)",
            "displayName": "Attributes to add to the HTTP Response (Regex)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "displayName": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "message": {
            "name": "message",
            "displayName": "message",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "6576c1c2-9ef8-336c-8eef-9a1bac479104",
        "instanceIdentifier": "e381a4f6-3e3b-3380-6b38-f841f279f713",
        "name": "HandleHttpRequest",
        "comments": "",
        "position": { "x": -40.0, "y": -328.0 },
        "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "multipart-request-max-size": "1 MB",
          "parameters-to-attributes": null,
          "Allow POST": "true",
          "Hostname": null,
          "Default URL Character Set": "UTF-8",
          "Allow DELETE": "false",
          "Request Header Maximum Size": "8 KB",
          "Maximum Threads": "200",
          "HTTP Protocols": "HTTP_1_1",
          "Additional HTTP Methods": null,
          "container-queue-size": "50",
          "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
          "multipart-read-buffer-size": "512 KB",
          "SSL Context Service": null,
          "Allow OPTIONS": "false",
          "Allowed Paths": null,
          "Allow GET": "false",
          "Allow HEAD": "false",
          "Listening Port": "9090",
          "Client Authentication": "No Authentication",
          "Allow PUT": "false"
        },
        "propertyDescriptors": {
          "multipart-request-max-size": {
            "name": "multipart-request-max-size",
            "displayName": "Multipart Request Max Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "parameters-to-attributes": {
            "name": "parameters-to-attributes",
            "displayName": "Parameters to Attributes List",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow POST": {
            "name": "Allow POST",
            "displayName": "Allow POST",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Hostname": {
            "name": "Hostname",
            "displayName": "Hostname",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Default URL Character Set": {
            "name": "Default URL Character Set",
            "displayName": "Default URL Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow DELETE": {
            "name": "Allow DELETE",
            "displayName": "Allow DELETE",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Maximum Size": {
            "name": "Request Header Maximum Size",
            "displayName": "Request Header Maximum Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Threads": {
            "name": "Maximum Threads",
            "displayName": "Maximum Threads",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Protocols": {
            "name": "HTTP Protocols",
            "displayName": "HTTP Protocols",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Additional HTTP Methods": {
            "name": "Additional HTTP Methods",
            "displayName": "Additional HTTP Methods",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "container-queue-size": {
            "name": "container-queue-size",
            "displayName": "Container Queue Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "displayName": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "multipart-read-buffer-size": {
            "name": "multipart-read-buffer-size",
            "displayName": "Multipart Read Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Allow OPTIONS": {
            "name": "Allow OPTIONS",
            "displayName": "Allow OPTIONS",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allowed Paths": {
            "name": "Allowed Paths",
            "displayName": "Allowed Paths",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow GET": {
            "name": "Allow GET",
            "displayName": "Allow GET",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow HEAD": {
            "name": "Allow HEAD",
            "displayName": "Allow HEAD",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Listening Port": {
            "name": "Listening Port",
            "displayName": "Listening Port",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Client Authentication": {
            "name": "Client Authentication",
            "displayName": "Client Authentication",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow PUT": {
            "name": "Allow PUT",
            "displayName": "Allow PUT",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
        "instanceIdentifier": "095f0d92-fdd5-3b43-c862-151eaffc2740",
        "name": "RouteOnAttribute",
        "comments": "",
        "position": { "x": -40.0, "y": -56.0 },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "is_pull": "${http.request.uri:matches(\"/consumer-data/(pull)\")}",
          "Routing Strategy": "Route to Property name",
          "is_push": "${http.request.uri:matches(\"/consumer-data/(push)\")}"
        },
        "propertyDescriptors": {
          "is_pull": {
            "name": "is_pull",
            "displayName": "is_pull",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "is_push": {
            "name": "is_push",
            "displayName": "is_push",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "ea86065f-83b3-31fd-81bf-f15f9ea93bee",
        "instanceIdentifier": "35f56565-5aa1-32f7-83d4-e325c2557cd7",
        "name": "HandleHttpResponse",
        "comments": "",
        "position": { "x": 1296.0, "y": -64.0 },
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.6.0"
        },
        "properties": {
          "HTTP Context Map": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
          "Attributes to add to the HTTP Response (Regex)": null,
          "HTTP Status Code": "${state}",
          "message": "${message}"
        },
        "propertyDescriptors": {
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "displayName": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to add to the HTTP Response (Regex)": {
            "name": "Attributes to add to the HTTP Response (Regex)",
            "displayName": "Attributes to add to the HTTP Response (Regex)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "displayName": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "message": {
            "name": "message",
            "displayName": "message",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "d1c3b4cb-1fd0-38da-8df7-5f6ea43ba1c1",
        "instanceIdentifier": "a1c3a65f-e8ee-3d78-f561-8f4d136d360a",
        "name": "",
        "source": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "095f0d92-fdd5-3b43-c862-151eaffc2740"
        },
        "destination": {
          "id": "8faa42cd-2edd-3b53-a53a-54210ad99860",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "a8e6275f-a7f4-31d0-5fbd-7cff2a8fee65"
        },
        "labelIndex": 0,
        "zIndex": 8,
        "selectedRelationships": ["unmatched"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "f5e66dec-3568-328e-81bd-0e56bdd2b091",
        "instanceIdentifier": "b964fdca-492d-3e87-adc2-97fc0bc393b4",
        "name": "",
        "source": {
          "id": "34c3bf38-019a-1000-541c-b7b7e560f65d",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "edf68a36-350e-3db4-4324-edd3018196e0"
        },
        "destination": {
          "id": "34c3bf40-019a-1000-9fcf-36371b3062cc",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "HandleHttpResponse",
          "comments": "",
          "instanceIdentifier": "29613acc-a561-389d-d70a-e568fc3415ad"
        },
        "labelIndex": 0,
        "zIndex": 11,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "33e642cd-d303-34a8-8f3d-88ed775c7182",
        "instanceIdentifier": "b2208799-c3f9-3f53-9af8-f00f8102a9b7",
        "name": "",
        "source": {
          "id": "6d129677-9413-3b30-9741-154ca063640b",
          "type": "OUTPUT_PORT",
          "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
          "name": "output",
          "instanceIdentifier": "fc1c035f-3bca-3b09-c6c2-c542030e14e3"
        },
        "destination": {
          "id": "34c3bf38-019a-1000-541c-b7b7e560f65d",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "edf68a36-350e-3db4-4324-edd3018196e0"
        },
        "labelIndex": 0,
        "zIndex": 13,
        "selectedRelationships": [""],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "80eb081b-2951-3c9c-8b03-765d48f4f029",
        "instanceIdentifier": "5f0d08cc-98ab-35be-cdd5-4552bac0de91",
        "name": "",
        "source": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "095f0d92-fdd5-3b43-c862-151eaffc2740"
        },
        "destination": {
          "id": "9848bb16-f68d-3897-906e-3fb7446fcd68",
          "type": "INPUT_PORT",
          "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
          "name": "input",
          "instanceIdentifier": "57899c17-3b6a-33fc-8bd8-45b1ecf79dd5"
        },
        "labelIndex": 0,
        "zIndex": 5,
        "selectedRelationships": ["is_push"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "23dae1b4-a00e-321d-a10a-375c47cba773",
        "instanceIdentifier": "43156c5e-7227-3d91-a4db-339eb1e7619a",
        "name": "",
        "source": {
          "id": "d964e164-cd11-3a2f-946a-52ff1faa1cfe",
          "type": "OUTPUT_PORT",
          "groupId": "c2d9d534-22d8-31c5-b58e-689d52afd9ec",
          "name": "output",
          "instanceIdentifier": "82e894e7-5332-33ac-f137-9a489ecc62bd"
        },
        "destination": {
          "id": "34c3bf38-019a-1000-541c-b7b7e560f65d",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "edf68a36-350e-3db4-4324-edd3018196e0"
        },
        "labelIndex": 0,
        "zIndex": 12,
        "selectedRelationships": [""],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "6338e86a-a4a1-3cd4-a565-11888850fdc7",
        "instanceIdentifier": "cac12b3a-d80f-3d52-a2f4-93ed876b73cf",
        "name": "",
        "source": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "095f0d92-fdd5-3b43-c862-151eaffc2740"
        },
        "destination": {
          "id": "690ad08f-759f-3de9-af7e-ef1552b6c982",
          "type": "INPUT_PORT",
          "groupId": "e981572e-329c-3558-a62b-1cad144daf38",
          "name": "input",
          "instanceIdentifier": "dc1718a3-e88c-3491-79c2-a89bc0630917"
        },
        "labelIndex": 0,
        "zIndex": 6,
        "selectedRelationships": ["is_pull"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "332a1412-15eb-3542-a8c1-62471d82648f",
        "instanceIdentifier": "ff5e435d-42ef-3896-bce0-93a017f51c5d",
        "name": "",
        "source": {
          "id": "8faa42cd-2edd-3b53-a53a-54210ad99860",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "a8e6275f-a7f4-31d0-5fbd-7cff2a8fee65"
        },
        "destination": {
          "id": "ea86065f-83b3-31fd-81bf-f15f9ea93bee",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "HandleHttpResponse",
          "comments": "",
          "instanceIdentifier": "35f56565-5aa1-32f7-83d4-e325c2557cd7"
        },
        "labelIndex": 0,
        "zIndex": 9,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      },
      {
        "identifier": "7c53a6d6-1c16-38af-98df-45fa0a1d815b",
        "instanceIdentifier": "115a0562-e7ef-3df4-8e07-1a5a8f9cc005",
        "name": "",
        "source": {
          "id": "6576c1c2-9ef8-336c-8eef-9a1bac479104",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "HandleHttpRequest",
          "comments": "",
          "instanceIdentifier": "e381a4f6-3e3b-3380-6b38-f841f279f713"
        },
        "destination": {
          "id": "685cd4ff-6ef6-3f4a-9939-5016f86192c5",
          "type": "PROCESSOR",
          "groupId": "eeaa011f-4f89-3f02-8692-d08b0843f00a",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "095f0d92-fdd5-3b43-c862-151eaffc2740"
        },
        "labelIndex": 0,
        "zIndex": 10,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "5ee36bf9-2457-3a4b-a223-a8ca432395a2",
        "instanceIdentifier": "99ee4fc3-96c1-330d-5ae5-347b420f599f",
        "name": "StandardHttpContextMap",
        "comments": "",
        "type": "org.apache.nifi.http.StandardHttpContextMap",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-http-context-map-nar",
          "version": "2.6.0"
        },
        "properties": {
          "Request Expiration": "1 min",
          "Maximum Outstanding Requests": "5000"
        },
        "propertyDescriptors": {
          "Request Expiration": {
            "name": "Request Expiration",
            "displayName": "Request Expiration",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Outstanding Requests": {
            "name": "Maximum Outstanding Requests",
            "displayName": "Maximum Outstanding Requests",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.http.HttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.6.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "eeaa011f-4f89-3f02-8692-d08b0843f00a"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {
    "Environment Variables": {
      "name": "Environment Variables",
      "parameters": [
        { "name": "PATH", "sensitive": true, "provided": true },
        { "name": "NIFI_TOOLKIT_HOME", "sensitive": true, "provided": true },
        { "name": "POSTGRES_USER", "sensitive": true, "provided": true },
        { "name": "nifi_props_file", "sensitive": true, "provided": true },
        { "name": "POSTGRES_PASSWORD", "sensitive": true, "provided": true },
        { "name": "nifi_bootstrap_file", "sensitive": true, "provided": true },
        { "name": "OLDPWD", "sensitive": true, "provided": true },
        { "name": "POSTGRES_DB", "sensitive": true, "provided": true },
        { "name": "NIFI_LOG_DIR", "sensitive": true, "provided": true },
        { "name": "NIFI_HOME", "sensitive": true, "provided": true },
        { "name": "LANG", "sensitive": true, "provided": true },
        { "name": "LANGUAGE", "sensitive": true, "provided": true },
        { "name": "JAVA_HOME", "sensitive": true, "provided": true },
        { "name": "NIFI_BASE_DIR", "sensitive": true, "provided": true },
        { "name": "hostname", "sensitive": true, "provided": true },
        { "name": "HOSTNAME", "sensitive": true, "provided": true },
        {
          "name": "NIFI_AUTHENTICATION_STRATEGY",
          "sensitive": true,
          "provided": true
        },
        {
          "name": "SINGLE_USER_CREDENTIALS_PASSWORD",
          "sensitive": true,
          "provided": true
        },
        { "name": "NIFI_PID_DIR", "sensitive": true, "provided": true },
        {
          "name": "nifi_toolkit_props_file",
          "sensitive": true,
          "provided": true
        },
        {
          "name": "SINGLE_USER_CREDENTIALS_USERNAME",
          "sensitive": true,
          "provided": true
        },
        { "name": "PWD", "sensitive": true, "provided": true },
        { "name": "HOME", "sensitive": true, "provided": true }
      ],
      "inheritedParameterContexts": [],
      "parameterProvider": "39c121b8-019a-1000-4fe2-ab11d1abb095",
      "parameterGroupName": "Environment Variables",
      "synchronized": true,
      "componentType": "PARAMETER_CONTEXT"
    }
  },
  "flowEncodingVersion": "1.0",
  "parameterProviders": {
    "39c121b8-019a-1000-4fe2-ab11d1abb095": {
      "identifier": "39c121b8-019a-1000-4fe2-ab11d1abb095",
      "name": "EnvironmentVariableParameterProvider",
      "type": "org.apache.nifi.parameter.EnvironmentVariableParameterProvider",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "2.6.0"
      }
    }
  },
  "latest": false
}
